<script setup lang="ts">
import router from '@/router';
import service from '@/services/service'
import { useBookingStore } from '@/stores/booking'
import { computed, onMounted, ref, watch, watchEffect } from 'vue'

const showDepositDialog = ref(false)
const bookingStore = useBookingStore()
const petWeight = ref<number>(0)
const totalServicePrice = ref(0);
const serviceprice = ref(0);
watchEffect(() => {
  let totalPrice = 0;
  bookingStore.editedbgBooking?.serviceOrders.forEach((service) => {
    service.serviceOptionOrders.forEach((option) => {
      if (option.optionPrice !== undefined) {
        totalPrice += option.optionPrice;
      }
    });
    totalPrice += serviceprice.value;
  });
  totalServicePrice.value = totalPrice;
});

function confirmDeposit() {
  if (bookingStore.editedbgBooking) {
    bookingStore.setTotalServicePrice(totalServicePrice.value, petWeight.value);
    console.log(totalServicePrice.value);
    console.log(petWeight.value);
    console.log(bookingStore.editedbgBooking.bgbDepositPrice);
    bookingStore.updateBookingBackend(bookingStore.editedbgBooking);
  }
  showDepositDialog.value = false;
  // router.push('/payment');
}

function calculateServicePrice(weight: number, petType: string): number {
  if (weight !== undefined && petType !== undefined) {
    if (petType === 'แมว') {
      if (weight <= 2) {
        return 250;
      } else if (weight > 2 && weight <= 3) {
        return 350;
      } else if (weight > 3 && weight <= 5) {
        return 450;
      } else if (weight > 5 && weight <= 8) {
        return 550;
      } else {
        return 650;
      }
    } else if (petType === 'สุนัข') {
      if (weight <= 3) {
        return 200;
      } else if (weight > 3 && weight <= 5) {
        return 300;
      } else if (weight > 5 && weight <= 10) {
        return 350;
      } else if (weight > 10 && weight <= 15) {
        return 400;
      } else if (weight > 15 && weight <= 20) {
        return 500;
      } else if (weight > 20 && weight <= 30) {
        return 600;
      } else if (weight > 30 && weight <= 40) {
        return 750;
      } else if (weight > 40 && weight <= 50) {
        return 850;
      } else {
        return 1000;
      }
    } else {
      return 0;
    }
  } else {
    return 0;
  }
}

const servicePrice = ref<number>(0);

watch(petWeight, (newValue) => {
  const petType = bookingStore.editedbgBooking?.pet.petType;
  if (petType !== undefined) {
    servicePrice.value = calculateServicePrice(newValue, petType);
    console.log(petType);
  }
});
function calPrice(petType: string, option: number) {
  if (petType === 'แมว') {
    if (option === 1) {
      if (petWeight.value! <= 3) {
        return 50
      } else if (petWeight.value! > 3 && petWeight.value! <= 5) {
        return 75
      } else if (petWeight.value! > 5 && petWeight.value! <= 8) {
        return 85
      } else if (petWeight.value! > 8) {
        return 100
      }
    } else if (option === 2) {
      return 50
    } else if (option === 3) {
      if (petWeight.value! <= 3) {
        return 50
      } else if (petWeight.value! > 3 && petWeight.value! <= 5) {
        return 75
      } else if (petWeight.value! > 5 && petWeight.value! <= 8) {
        return 85
      } else if (petWeight.value! > 8) {
        return 100
      }
    } else if (option === 4) {
      if (petWeight.value! <= 3) {
        return 100
      } else if (petWeight.value! > 3 && petWeight.value! <= 5) {
        return 120
      } else if (petWeight.value! > 5 && petWeight.value! <= 8) {
        return 150
      } else {
        return 180
      }
    } else if (option === 5) {
      return 1200
    } else if (option === 6) {
      return 900
    } else if (option === 7) {
      return 1000
    }
  } else {
    if (option === 1) {
      if (petWeight.value! <= 5) {
        return 50
      } else if (petWeight.value! > 5 && petWeight.value! <= 10) {
        return 75
      } else if (petWeight.value! > 10 && petWeight.value! <= 15) {
        return 85
      } else if (petWeight.value! > 15 && petWeight.value! <= 20) {
        return 100
      } else if (petWeight.value! > 20 && petWeight.value! <= 30) {
        return 150
      } else if (petWeight.value! > 30 && petWeight.value! <= 40) {
        return 200
      } else if (petWeight.value! > 40 && petWeight.value! <= 50) {
        return 250
      } else {
        return 300
      }
    } else if (option === 2) {
      return 50
    } else if (option === 3) {
      if (petWeight.value! <= 5) {
        return 50
      } else if (petWeight.value! > 5 && petWeight.value! <= 10) {
        return 75
      } else if (petWeight.value! > 10 && petWeight.value! <= 15) {
        return 85
      } else if (petWeight.value! > 15 && petWeight.value! <= 20) {
        return 100
      } else if (petWeight.value! > 20 && petWeight.value! <= 30) {
        return 150
      } else if (petWeight.value! > 30 && petWeight.value! <= 40) {
        return 200
      } else if (petWeight.value! > 40 && petWeight.value! <= 50) {
        return 250
      } else {
        return 300
      }
    } else if (option === 4) {
      if (petWeight.value! <= 10) {
        return 100
      } else if (petWeight.value! > 10 && petWeight.value! <= 30) {
        return 150
      } else if (petWeight.value! > 30 && petWeight.value! <= 40) {
        return 200
      } else if (petWeight.value! > 40 && petWeight.value! <= 50) {
        return 220
      } else {
        return 250
      }
    } else if (option === 5) {
      return 1200
    } else if (option === 6) {
      return 900
    } else if (option === 7) {
      return 1000
    }
  }
}
watch(petWeight, () => {
  bookingStore.editedbgBooking!.serviceOrders.forEach((service) =>
    service.serviceOptionOrders.forEach(
      (option) =>
      (option.optionPrice = calPrice(
        bookingStore.editedbgBooking?.pet.petType!,
        option.option.optionId
      ))
    )
  )
})
console.log(bookingStore.editedbgBooking)
console.log(servicePrice.value)

</script>
<template>

  <v-btn prepend-icon="mdi-arrow-left" class="no2-shadow mt-3" style="font-size: 120%" to="/employeebathroom">
    ย้อนกลับ
  </v-btn>

  <v-container class="mt-16 margin">
    <v-row>
      <v-col cols="4">
        <v-row>
          <v-col>
            <h4 class="FontSize">วันที่จอง:</h4>
          </v-col>
          <v-col>
            <h4 class="FontSize">เวลาที่จอง:</h4>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="FontSize">{{ bookingStore.editedbgBooking!.bgbBookingDate }}</v-col>
          <v-col class="FontSize">{{ bookingStore.editedbgBooking!.bgbBookingTime }}</v-col>
        </v-row>
        <v-row>
          <v-col>
            <h4 class="FontSize">รหัสการจอง: {{ bookingStore.editedbgBooking!.bgbId }}</h4>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <h4 class="FontSize">ชื่อลูกค้า:</h4>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="FontSize">{{
            bookingStore.editedbgBooking!.customer.cusName +
            ' ' +
            bookingStore.editedbgBooking!.customer.cusSurname
          }}</v-col>
        </v-row>
        <v-row>
          <v-col>
            <h4 class="FontSize">ประเภทสัตว์เลี้ยง:</h4>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="FontSize">{{ bookingStore.editedbgBooking!.pet.petType }}</v-col>
        </v-row>
        <v-row>
          <v-col>
            <h4 class="FontSize">ชื่อสัตว์เลี้ยง:</h4>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="FontSize">{{ bookingStore.editedbgBooking!.pet.petName }}</v-col>
        </v-row>
      </v-col>

      <v-col cols="7">
        <v-container class="border" style="background-color: #e5c4f4">
          <v-row>
            <v-col>
              <h4 class="FontSize">น้ำหนักตัว</h4>
            </v-col>
            <v-col><v-text-field class="Kn" variant="outlined" bg-color="white"
                v-model="petWeight"></v-text-field></v-col>
            <v-col>
              <h4 class="FontSize">กิโลกรัม</h4>
            </v-col>
          </v-row>
          <v-row v-for="service in bookingStore.editedbgBooking!.serviceOrders" :key="service.serviceOrderId">
            <v-col><v-row><v-col>
                  <h4 class="FontSize">
                    {{ service.serviceName }}
                  </h4>
                  <div v-for="option in service.serviceOptionOrders" :key="option.serviceOptionOrderId"
                    style="font-size: 20px">
                    {{ option.optionName }}
                    <h4>
                      {{ option.optionPrice }}
                    </h4>
                  </div>
                </v-col>
                <v-col>
                  <h4 v-if="service.service.serviceId === 1" class="FontSize margin-text">{{ servicePrice }}</h4>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <h4 class="FontSize margin-text1">ราคารวมบริการ</h4>
            </v-col>
            <v-col>
              <h4 class="FontSize margin-text">{{ totalServicePrice }}</h4>
            </v-col>
          </v-row>

          <div>
            <!-- เพิ่ม Dialog ที่ต้องการ -->
            <v-dialog v-model="showDepositDialog" max-width="500" permanent>
              <v-card class="text-center">
                <v-card-title>ยืนยันการจ่ายเงิน?</v-card-title>
                <v-card-text> <v-icon size="64">mdi-cash-multiple</v-icon> </v-card-text>
                <v-card-text> </v-card-text>
                <v-card-actions class="d-flex justify-center">
                  <v-btn @click="showDepositDialog = false" class="no2-shadow" style="
                      font-size: 15px;
                      border-radius: 50px;
                      background-color: #e59090;
                      width: 150px;
                    ">ยกเลิก</v-btn>
                  <v-btn to="/paymentemp" @click="confirmDeposit" class="no2-shadow" style="
                      font-size: 15px;
                      border-radius: 50px;
                      background-color: #a8ff99;
                      width: 150px;
                    ">ยืนยัน</v-btn>
                </v-card-actions>
                <v-card-text> </v-card-text>
              </v-card>
            </v-dialog>

            <!-- ปุ่ม "ชำระมัดจำ" -->
            <v-btn rounded="xl" size="large" style="
                font-weight: bold;
                background-color: #a8ff99;
                position: absolute;
                margin: 20px;
                padding-left: 20px;
                bottom: 2rem;
                right: 12rem;
              " @click="showDepositDialog = true">
              ยืนยันการจ่ายเงิน
            </v-btn>
          </div>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.no2-shadow {
  box-shadow: none !important;
}

.margin {
  position: absolute;
  margin-left: 130px;
}

.FontSize {
  font-size: 30px;
}

.border {
  border-radius: 10px;
  height: 620px;
}

.Kn {
  width: 600px;
}

.margin-text {
  position: absolute;
  margin-left: 350px;
}

.margin-text1 {
  position: absolute;
  margin-left: 40px;
}

/* .margin-btn {
  position: absolute;
  margin-bottom: 500px;
} */
</style>