<script setup lang="ts">
import router from '@/router'
import { useBookingStore } from '@/stores/booking'
import { useMessageStore } from '@/stores/message'
import { usePaymentStore } from '@/stores/payment'
import type { Ref } from 'vue'
import { onMounted, ref } from 'vue'

const paymentStore = usePaymentStore()

const numbercard = ref('')
const formattedDate = ref('')
const numbercvv = ref('')
const namecard = ref('')
const locationcard = ref('')
const checkInfo = ref(false)
const bookingStore = useBookingStore()

function checkInformation() {
  if (numbercard.value === '' || numbercard.value.length < 16) {
    checkInfo.value = true
  } else if (formattedDate.value === '' || formattedDate.value.length < 4) {
    checkInfo.value = true
  } else if (numbercvv.value === '' || numbercvv.value.length < 3) {
    checkInfo.value = true
  } else if (namecard.value === '') {
    checkInfo.value = true
  } else if (locationcard.value === '') {
    checkInfo.value = true
  } else {
    bookingStore.editedbgBooking!.bgbTotalPayStatus = 'ชำระแล้ว'
    router.push('/paysuccessemp')
  }
}

const validateRequired = (v: string) => !!v || 'กรุณากรอกวันหมดอายุของบัตร'
const validateFormat = (v: string) => /^\d{2}\/\d{2}$/.test(v) || 'รูปแบบไม่ถูกต้อง (ดด/ปป)'

function onCardNumberInput(event: InputEvent) {
  numbercard.value = (event.target as HTMLInputElement).value.replace(/\D/g, '').slice(0, 16)
}

function onExpirationDateInput(event: InputEvent) {
  let formattedValue = (event.target as HTMLInputElement).value.replace(/\D/g, '').slice(0, 4)
  if (formattedValue.length > 2) {
    formattedValue = formattedValue.replace(/(\d{2})(\d{2})/, '$1/$2')
  }
  formattedDate.value = formattedValue
}

function onCVVInput(event: InputEvent) {
  numbercvv.value = (event.target as HTMLInputElement).value.replace(/\D/g, '').slice(0, 3)
}

onMounted(() => {
  if (bookingStore && bookingStore.editedbgBooking) {
    bookingStore.editedbgBooking.bgbTotalPayStatus = 'ชำระแล้ว'
    bookingStore.updateBookingBackend(bookingStore.editedbgBooking)
  }
})
</script>
<template>
  <v-row class="d-flex justify-center no1-shadow">
    <v-stepper
      alt-labels
      v-model="paymentStore.stepPayments[1]"
      width="600"
      class="no1-shadow mt-16"
      style="font-size: 14px; line-height: 1.5"
    >
      <v-stepper-header>
        <v-stepper-item value="1" title="รอชำระเงิน" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-clock-fast"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider color="deep-purple" height="4"></v-divider>

        <v-stepper-item
          value="2"
          title="ตรวจสอบการชำระเงิน"
          color="#AE47DF"
          style="white-space: nowrap"
        >
          <template #icon>
            <v-icon size="15" icon="mdi-bank-check"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider></v-divider>

        <v-stepper-item value="3" title="ชำระเงินสำเร็จ" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-check-circle-outline"></v-icon>
          </template>
        </v-stepper-item>
      </v-stepper-header>
    </v-stepper>
  </v-row>

  <v-card
    elevation="20"
    width="631px"
    height="520.86px"
    class="mx-auto ma-16 pa-5 no1-shadow color"
    style="border-radius: 50px; border: 1px solid #e0e0e0"
    outlined
    variant="outlined"
  >
    <h2
      class="text-center"
      style="font-weight: bolder; font-family: Noto Sans Thai; color: #000000"
    >
      บัตรเครดิต
    </h2>
    <v-divider class="divider-bold"></v-divider>
    <v-card-text class="pa-5">
      <v-form ref="form">
        <v-text-field
          v-model="numbercard"
          class="mt-2"
          label="หมายเลขบัตร"
          variant="outlined"
          :rules="[
            (v) => !!v || 'กรุณากรอกหมายเลขบัตร',
            (v) =>
              (v && v.length === 16 && /^\d+$/.test(v)) ||
              'หมายเลขบัตรต้องมี 16 ตัวและเป็นตัวเลขเท่านั้น'
          ]"
          @input="onCardNumberInput"
        ></v-text-field>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              label="ดด/ปป"
              variant="outlined"
              :rules="[validateRequired, validateFormat]"
              v-model="formattedDate"
              mask="##/##"
              @input="onExpirationDateInput"
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="6">
            <v-text-field
              v-model="numbercvv"
              label="CVV"
              variant="outlined"
              :rules="[
                (v) => !!v || 'กรุณากรอกหมายเลข CVV',
                (v) =>
                  (v && v.length === 3 && /^\d+$/.test(v)) ||
                  'หมายเลข CVV ต้องมี 3 ตัวและเป็นตัวเลขเท่านั้น'
              ]"
              @input="onCVVInput"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-text-field
          v-model="namecard"
          class="mt-2"
          label="ชื่อผู้ถือบัตร"
          variant="outlined"
          :rules="[(v) => !!v || 'กรุณากรอกชื่อ']"
        ></v-text-field>
        <v-text-field
          v-model="locationcard"
          class="mt-2"
          label="ประเทศ/ภูมิภาค"
          variant="outlined"
          :rules="[(v) => !!v || 'กรุณากรอกประเทศ/ภูมิภาค']"
        ></v-text-field>
      </v-form>
    </v-card-text>

    <div class="d-flex justify-center">
      <v-btn
        class="no1-shadow"
        size="large"
        rounded="xl"
        :width="280"
        style="font-weight: bold; font-size: 120%; background-color: #a8ff99"
        @click="checkInformation()"
      >
        ตรวจสอบการชำระเงิน
      </v-btn>
    </div>
  </v-card>
  <v-dialog v-model="checkInfo" persistent style="width: 500px; height: 500px">
    <v-card style="padding: 2rem; display: flex; justify-content: center; align-items: center">
      <h3 style="margin-bottom: 0.3rem">กรอกข้อมูลให้ครบก่อนดําเนินการต่อ</h3>
      <v-spacer></v-spacer>
      <v-card-actions>
        <v-btn
          @click="checkInfo = false"
          size="large"
          rounded="xl"
          style="
            font-weight: bold;
            background-color: #a8ff99;
            padding-left: 2rem;
            padding-right: 2rem;
          "
        >
          ตกลง
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped>
.no1-shadow {
  box-shadow: none !important;
}

.divider-bold {
  border-top-width: 2px;
}

.color {
  background-color: rgba(247, 247, 247, 0.792);
}
</style>
