<script setup lang="ts">
import { ref, watch } from 'vue'
import { useBookingStore } from '@/stores/booking'
import { useServiceOrderStore } from '@/stores/serviceOrder'
import { onMounted } from 'vue'
import { useRoomStore } from '@/stores/room'
import ManageRoom from '@/components/ManageRoom.vue'
import type Booking from '@/types/Booking'

const bookingStore = useBookingStore()
const serviceOrderStore = useServiceOrderStore()
const tab = ref(0)
const showDialog1 = ref<boolean>(false)
const showDialog3 = ref<boolean>(false)
const bookingId = ref()
const roomStore = useRoomStore()
const search = ref('')
const panel = ref<Booking[]>([])
const disabled = ref(false)

onMounted(async () => {
  await bookingStore.getBooking(search.value)
  await serviceOrderStore.getServiceOrder()

  console.log('Booking Data:', bookingStore.booking)
  console.log('Service Order Data:', serviceOrderStore.serviceorder)
})

const showDialogService1 = (bgbId: number) => {
  showDialog1.value = true
  bookingId.value = bgbId
}
const showDialogService3 = (bookId: number) => {
  showDialog3.value = true
  bookingId.value = bookId
}

watch(search, async () => {
  await bookingStore.getBooking(search.value)
})
</script>

<template>
  <v-tabs
    class="mt-16 no2-shadow mx-auto"
    style="border: 1px solid; border-radius: 50px; width: 1000px"
    v-model="tab"
    align-tabs="center"
  >
    <v-tabs-items>
      <v-tab-item :value="0">
        <v-row>
          <v-col
            class="d-flex justify-center"
            :style="{ backgroundColor: tab === 0 ? '#FFF6A2' : '#FFFFFF' }"
            style="width: 47rem"
            ><v-tab>ยืนยันการชำระเงิน</v-tab></v-col
          >
          <v-col
            class="d-flex justify-center"
            :style="{ backgroundColor: tab === 1 ? '#FFF6A2' : '#FFFFFF' }"
            ><v-tab>อัพเดตสถานะบริการ</v-tab></v-col
          >
        </v-row>
      </v-tab-item>
    </v-tabs-items>
  </v-tabs>
  <v-row justify="end">
    <v-col cols="12" sm="3">
      <v-text-field
        class="margin"
        density="compact"
        variant="solo"
        label="ค้นหา"
        append-inner-icon="mdi-magnify"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-col>
  </v-row>

  <v-card
    class="mt-16 no2-shadow mx-auto"
    elevation="20"
    width="1650px"
    height="520.86px"
    style="border-radius: 50px; border: 1px solid"
    outlined
    variant="outlined"
  >
    <v-window v-model="tab">
      <v-window-item value="0">
        <v-expansion-panels v-model="panel" :disabled="disabled" multiple>
          <v-expansion-panel-title expand-icon="false"
            ><v-row class="text-center"
              ><v-col cols="2">รหัสการจอง</v-col>
              <v-col cols="2">วันที่จอง</v-col>
              <v-col cols="4">ชื่อลูกค้า</v-col>
              <v-col cols="2">บริการ</v-col>
              <v-col cols="2">ยืนยันการจอง</v-col>
            </v-row>
          </v-expansion-panel-title>
          <v-divider></v-divider>
          <v-expansion-panel v-for="(item, index) in bookingStore.booking" :key="index">
            <template v-if="item.bgbTotalPayStatus === 'ยังไม่ชำระ'">
              <v-expansion-panel-title expand-icon="false"
                ><v-row class="text-center"
                  ><v-col cols="2">{{ item.bgbId }}</v-col
                  ><v-col cols="2">{{ item.bgbBookingDate }}</v-col
                  ><v-col cols="4">{{
                    item.customer.cusName + ' ' + item.customer.cusSurname
                  }}</v-col
                  ><v-col cols="2">
                    <span v-for="(order, index) in item.serviceOrders" :key="order.serviceOrderId">
                      {{ order.serviceName }}
                      <span v-if="index !== item.serviceOrders.length - 1">, </span>
                    </span></v-col
                  ><v-col cols="2">
                    <v-btn
                      v-if="item.bgbTotalPayStatus === 'ยังไม่ชำระ'"
                      :disabled="item.bgbStatus !== 'รอเข้ารับบริการ'"
                      style="font-size: 15px; border-radius: 50px; background-color: #ffb3b3"
                      @click="bookingStore.updateBooking(item)"
                    >
                      ยืนยันการจ่ายเงิน
                    </v-btn></v-col
                  ></v-row
                ></v-expansion-panel-title
              >
              <v-expansion-panel-text>
                <v-container class="text-center">
                  <v-row class="text-center">
                    <v-col cols="2" class="text-center">เวลาที่จอง</v-col>
                    <v-col cols="4" class="text-center">ช่องทางการติดต่อ</v-col>
                    <v-col cols="2" class="text-center">ประเภทสัตว์เลี้ยง</v-col>
                    <v-col cols="2" class="text-center">ชื่อสัตว์เลี้ยง</v-col>
                    <v-col cols="2" class="text-center">รายละเอียดของบริการ</v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row class="mt-2">
                    <v-col cols="2">{{ item.bgbBookingTime }}</v-col>
                    <v-col cols="4" class="d-flex flex-column text-center"
                      >{{ 'อีเมล : ' + item.customer.cusEmail }} <br />
                      {{ 'เบอร์โทร : ' + item.customer.cusPhone }}</v-col
                    >
                    <v-col cols="2">{{ item.pet.petType }}</v-col>
                    <v-col cols="2">{{ item.pet.petName }}</v-col>
                    <v-col cols="2">
                      <template
                        v-for="(order, index) in item.serviceOrders"
                        :key="order.serviceOrderId"
                      >
                        <span class="d-flex flex-column text-start">
                          <!-- ใช้ v-if เพื่อตรวจสอบว่ามี option หรือไม่ -->
                          <template v-if="order.serviceOptionOrders.length > 0">
                            {{ order.serviceName }} <br />
                          </template>
                          <template v-else>
                            <span class="text-center">{{ order.serviceName }}</span> <br />
                          </template>
                          <span
                            class="ml-2"
                            v-for="(option, optionIndex) in order.serviceOptionOrders"
                            :key="option.serviceOptionOrderId"
                          >
                            {{ '+ ' + option.optionName }} <br />
                            <!-- เพิ่มเครื่องหมาย '+' เมื่อไม่ใช่ option สุดท้าย -->
                            <template
                              v-if="optionIndex !== order.serviceOptionOrders.length - 1"
                            ></template>
                          </span>
                          <!-- เพิ่มเครื่องหมาย '+' เมื่อไม่ใช่ order สุดท้าย -->
                          <template v-if="index !== item.serviceOrders.length - 1"> </template>
                        </span>
                      </template>
                    </v-col>
                  </v-row>
                </v-container>
              </v-expansion-panel-text>
            </template>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-window-item>
      <v-window-item value="1">
        <v-expansion-panels v-model="panel" :disabled="disabled" multiple>
          <v-expansion-panel-title expand-icon="false"
            ><v-row class="text-center">
              <v-col cols="1" class="text-center">รหัสการจอง</v-col>
              <v-col cols="2" class="text-center">ชื่อลูกค้า</v-col>
              <v-col cols="2" class="text-center">บริการ</v-col>
              <v-col cols="1" class="text-center">สถานะ</v-col>
              <v-col cols="2" class="text-center">กำลังบริการ</v-col>
              <v-col cols="2" class="text-center">บริการสำเร็จ</v-col>
              <v-col cols="2" class="text-center">บริการเสร็จสิ้น</v-col>
            </v-row>
          </v-expansion-panel-title>
          <v-divider></v-divider>
          <v-expansion-panel v-for="(item, index) in bookingStore.booking" :key="index">
            <template v-if="item.bgbTotalPayStatus === 'ชำระแล้ว'">
              <v-expansion-panel-title expand-icon="false"
                ><v-row class="text-center"
                  ><v-col cols="1">{{ item.bgbId }}</v-col>
                  <v-col cols="2"
                    >{{ item.customer.cusName + ' ' + item.customer.cusSurname }}
                  </v-col>
                  <v-col cols="2"
                    ><span v-for="(order, index) in item.serviceOrders" :key="order.serviceOrderId">
                      {{ order.serviceName }}
                      <span v-if="index !== item.serviceOrders.length - 1">, </span>
                    </span></v-col
                  >
                  <v-col cols="1" style="font-size: 18px">{{ item.bgbStatus }}</v-col>
                  <v-col cols="2">
                    <v-btn
                      class="no2-shadow"
                      @click="showDialogService1(item.bgbId!)"
                      size="large"
                      rounded="xl"
                      style="background-color: #a8ff99"
                      :disabled="item.bgbStatus !== 'รอเข้ารับบริการ'"
                    >
                      กำลังบริการ</v-btn
                    >
                  </v-col>
                  <v-col cols="2"
                    ><v-btn
                      to=""
                      size="large"
                      rounded="xl"
                      style="background-color: gray"
                      :disabled="item.bgbStatus !== 'กำลังบริการ'"
                      @click="roomStore.openRoomCage"
                      >บริการสำเร็จ</v-btn
                    ></v-col
                  >
                  <v-col cols="2">
                    <v-btn
                      class="no2-shadow"
                      @click="showDialogService3(item.bgbId!)"
                      size="large"
                      rounded="xl"
                      style="background-color: gray"
                      :disabled="item.bgbStatus !== 'บริการสำเร็จ'"
                    >
                      บริการเสร็จสิ้น</v-btn
                    >
                  </v-col>
                </v-row>
              </v-expansion-panel-title>
              <v-expansion-panel-text>
                <v-container class="text-center">
                  <v-row class="text-center">
                    <v-col cols="2" class="text-center">วันที่จอง</v-col>
                    <v-col cols="2" class="text-center">เวลาที่จอง</v-col>
                    <v-col cols="3" class="text-center">ช่องทางการติดต่อ</v-col>
                    <v-col cols="2" class="text-center">ประเภทสัตว์เลี้ยง</v-col>
                    <v-col cols="1" class="text-center">ชื่อสัตว์เลี้ยง</v-col>
                    <v-col cols="2" class="text-center">รายละเอียดของบริการ</v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row class="mt-2">
                    <v-col cols="2" class="text-center">{{ item.bgbBookingDate }}</v-col>
                    <v-col cols="2">{{ item.bgbBookingTime }}</v-col>
                    <v-col cols="3" class="d-flex flex-column text-center"
                      >{{ 'อีเมล : ' + item.customer.cusEmail }} <br />
                      {{ 'เบอร์โทร : ' + item.customer.cusPhone }}</v-col
                    >
                    <v-col cols="2">{{ item.pet.petType }}</v-col>
                    <v-col cols="1">{{ item.pet.petName }}</v-col>
                    <v-col cols="2">
                      <template
                        v-for="(order, index) in item.serviceOrders"
                        :key="order.serviceOrderId"
                      >
                        <span class="d-flex flex-column text-start">
                          <!-- ใช้ v-if เพื่อตรวจสอบว่ามี option หรือไม่ -->
                          <template v-if="order.serviceOptionOrders.length > 0">
                            {{ order.serviceName }} <br />
                          </template>
                          <template v-else>
                            <span class="text-center">{{ order.serviceName }}</span> <br />
                          </template>
                          <span
                            class="ml-2"
                            v-for="(option, optionIndex) in order.serviceOptionOrders"
                            :key="option.serviceOptionOrderId"
                          >
                            {{ '+ ' + option.optionName }} <br />
                            <!-- เพิ่มเครื่องหมาย '+' เมื่อไม่ใช่ option สุดท้าย -->
                            <template
                              v-if="optionIndex !== order.serviceOptionOrders.length - 1"
                            ></template>
                          </span>
                          <!-- เพิ่มเครื่องหมาย '+' เมื่อไม่ใช่ order สุดท้าย -->
                          <template v-if="index !== item.serviceOrders.length - 1"> </template>
                        </span>
                      </template>
                    </v-col>
                  </v-row>
                </v-container>
              </v-expansion-panel-text>
            </template>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-window-item>
    </v-window>
    <manage-room></manage-room>
  </v-card>
  <v-dialog v-model="showDialog1" max-width="500">
    <v-card class="text-center">
      <v-card-title>ยืนยันการเริ่มบริการ?</v-card-title>
      <v-card-text> รหัสการจอง {{ bookingId }}</v-card-text>
      <v-card-text> ห้อง 1 R1-1 </v-card-text>
      <v-card-actions class="d-flex justify-center">
        <v-btn
          @click="showDialog1 = false"
          class="no2-shadow"
          style="font-size: 15px; border-radius: 50px; background-color: #e59090"
          >ยกเลิก</v-btn
        >
        <v-btn
          class="no2-shadow"
          style="font-size: 15px; border-radius: 50px; background-color: #a8ff99"
          @click="showDialog1 = false"
          >ยืนยัน</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-dialog v-model="showDialog3" max-width="500">
    <v-card class="text-center">
      <v-card-title>ยืนยันการเริ่มบริการ?</v-card-title>
      <v-card-text> รหัสการจอง {{ bookingId }}</v-card-text>
      <v-card-text> ห้อง 2 R1-2 </v-card-text>
      <v-card-actions class="d-flex justify-center">
        <v-btn
          @click="showDialog3 = false"
          class="no2-shadow"
          style="font-size: 15px; border-radius: 50px; background-color: #e59090"
          >ยกเลิก</v-btn
        >
        <v-btn
          @click="showDialog3 = false"
          class="no2-shadow"
          style="font-size: 15px; border-radius: 50px; background-color: #a8ff99"
          >ยืนยัน</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped>
.no2-shadow {
  box-shadow: none !important;
}

.line th,
td {
  border: 1px solid #d9d9d9;
}

.left-align {
  display: flex;
  justify-content: flex-start;
}

.margin {
  margin-right: 150px;
  margin-top: 50px;
  box-shadow: none !important;
}

.v-expansion-panels {
  max-height: 520px; /* กำหนดความสูงสูงสุดของ v-expansion-panels */
  overflow-y: auto; /* ทำให้มีแถบเลื่อนเมื่อเนื้อหามากเกินไป */
}

* {
  font-size: 20px;
}
</style>
