<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { ref } from 'vue'

const showpass = ref(false)
const password = ref('Pass@1234')
const authStore = useAuthStore()
</script>
<template>
  <v-container>
    <v-row>
      <v-col class="container">
        <h3 style="margin-left: 8px">จัดการข้อมูลผู้ใช้</h3>
      </v-col>
    </v-row>
    <v-row class="d-flex justify-center align-center">
      <v-col cols="8" style="margin-top: 25px"
        ><v-container
          style="background-color: #f9f2fd; border-radius: 2rem; height: 660px; width: 1000px"
          ><v-row
            ><v-col class="d-flex justify-center" style="font-size: larger; font-weight: bolder"
              >ข้อมูผู้ใช้</v-col
            ></v-row
          >
          <v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">ชื่อ</v-col
            ><v-col cols="8"
              ><v-text-field
                model-value="วัชรพล"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>
          <v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">นามสกุล</v-col
            ><v-col cols="8"
              ><v-text-field
                model-value="เจนเชี่ยวชาญ"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>
          <v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">Email</v-col
            ><v-col cols="8"
              ><v-text-field
                model-value="64160057@gmail.com"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>
          <v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">Password</v-col
            ><v-col cols="8"
              ><v-text-field
                :append-inner-icon="showpass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showpass ? 'text' : 'password'"
                v-model="password"
                @click:append-inner="showpass = !showpass"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>

          <v-row class="mt-10"
            ><v-col
              ><v-btn
                style="
                  margin-left: 750px;
                  border-radius: 50px;
                  width: 150px;
                  box-shadow: none !important;
                  background-color: #a8ff99;
                "
                >บันทึก</v-btn
              ></v-col
            ></v-row
          >
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.container {
  max-width: 9%;
  border: 0px solid #e5c4f4;
  border-radius: 7px;
  background-color: #e5c4f4;
  margin-top: 10px;
}

.btn {
  width: 350px;
  height: 200px;
  background-color: #d9d9d9;
  box-shadow: none !important;
  border-radius: 2rem;
  align-items: center;
}

.textF {
  width: 400px;
}
</style>
