<script setup lang="ts">
import type booking from '@/services/booking'
import { useBookingStore } from '@/stores/booking'
import { usePaymentStore } from '@/stores/payment'
import { useRoomStore } from '@/stores/room'
import { ref } from 'vue'
import ManageRoom from '@/components/ManageRoom.vue'

const paymentStore = usePaymentStore()
const roomStore = useRoomStore()
const bookingStore = useBookingStore()
const confirmSeccess = ref(true)

function handleConfirm() {
  roomStore.showRoomCage = true
  confirmSeccess.value = false
}
</script>

<template>
  <v-row class="d-flex justify-center">
    <v-stepper
      alt-labels
      v-model="paymentStore.stepPayments[2]"
      width="600"
      class="no-shadow mt-16"
    >
      <v-stepper-header>
        <v-stepper-item value="1" title="รอชำระเงิน" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-clock-fast"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider></v-divider>

        <v-stepper-item value="2" title="ตรวจสอบการชำระเงิน" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-bank-check"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider></v-divider>

        <v-stepper-item value="3" title="ชำระเงินสำเร็จ" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-check-circle-outline"></v-icon>
          </template>
        </v-stepper-item>
      </v-stepper-header>
    </v-stepper>
  </v-row>

  <h1 class="padding">ชำระเงินสำเร็จ <v-icon icon="mdi-check-circle-outline"></v-icon></h1>

  <v-card style="margin-top: 30px" class="mx-auto no-shadow center" width="300" height="300"
    ><v-img src="../../public/picture/thankyou.png"></v-img
  ></v-card>
  <div class="margin" style="display: flex; justify-content: center">
    <div class="margin">
      <v-dialog v-model="confirmSeccess" persistent style="width: 500px; height: 500px">
        <v-card style="padding: 2rem; display: flex; justify-content: center; align-items: center">
          <h3 style="font-size: 30px">
            ทำรายการสำเร็จ
            <v-icon size="70"><v-img src="../../../public/picture/correct.png"></v-img></v-icon>
          </h3>

          <v-card-actions>
            <v-btn
              @click="handleConfirm()"
              size="large"
              rounded="xl"
              style="
                font-weight: bold;
                background-color: #a8ff99;
                padding-left: 2rem;
                padding-right: 2rem;
              "
            >
              ตกลง
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-btn
        to="/employeebathroom"
        class="weight-height"
        size="large"
        rounded="xl"
        style="font-weight: bold; background-color: #e5c4f4"
        @click="bookingStore.clearBooking()"
        >ทํารายการต่อ/อัพเดทสถานะบริการ</v-btn
      >
    </div>
  </div>
  <ManageRoom></ManageRoom>
</template>

<style scoped>
.no-shadow {
  box-shadow: none !important;
}

.padding {
  padding: 30px;
  text-align: center;
}

.margin {
  margin: auto;
  margin-top: 50px;
}
</style>
