<script setup lang="ts">
import ShowPet from '@/components/ShowPet.vue'
import { usePetStore } from '@/stores/pet'
import { useBookingStore } from '@/stores/booking'
import ServicePrice from '@/components/ServicePrice.vue'
import { onMounted, ref } from 'vue'
import { useAuthStore } from '@/stores/auth'
import type UserLogin from '@/types/userLogin'
import { useOptioneStore } from '@/stores/option'
import { useServiceStore } from '@/stores/service'
import { computed } from 'vue'
import router from '@/router'

const petStore = usePetStore()
const bookingStore = useBookingStore()
const authStore = useAuthStore()
const serviceStore = useServiceStore()
const optionStore = useOptioneStore()
const chooseOption = ref(false)
function checkChooseOption() {
  if (bookingStore.bgBooking.bgbBookingDate === null) {
    chooseOption.value = true
  } else if (bookingStore.bgBooking.bgbBookingTime === '') {
    chooseOption.value = true
  } else if (bookingStore.bgBooking.petId === 0) {
    chooseOption.value = true
  } else if (bookingStore.bgBooking.serviceOrders.length === 0) {
    chooseOption.value = true
  } else {
    console.log('All conditions are met, redirecting to payment...')
    router.push('/payment')
  }
}

onMounted(() => {
  const currentcus: UserLogin | null = authStore.getCurrentCustomer()
  bookingStore.bgBooking.cusId = currentcus ? currentcus.id : 0
})

function selecteService(id: number, serviceName: string) {
  const index = bookingStore.bgBooking.serviceOrders.findIndex(
    (serviceOrder) => serviceOrder.serviceId === id
  )
  if (index !== -1) {
    if (bookingStore.bgBooking.serviceOrders[index].serviceId === 1) {
      bookingStore.notebath = ''
    }
    if (bookingStore.bgBooking.serviceOrders[index].serviceId === 2) {
      bookingStore.notegroom = ''
    }
    bookingStore.bgBooking.serviceOrders.splice(index, 1)
  } else {
    const serviceOrder = {
      serviceId: id,
      serviceName: serviceName,
      note: '',
      serviceOptionOrders: []
    }
    bookingStore.bgBooking.serviceOrders.push(serviceOrder)
  }
}

function selecteOption(serviceId: number, optionId: number, optionName: string) {
  const serviceOrderIndex = bookingStore.bgBooking.serviceOrders.findIndex(
    (serviceOrder) => serviceOrder.serviceId === serviceId
  )

  if (serviceOrderIndex !== -1) {
    const serviceOrder = bookingStore.bgBooking.serviceOrders[serviceOrderIndex]
    const optionOrderIndex = serviceOrder.serviceOptionOrders.findIndex(
      (optionOrder) => optionOrder.optionId === optionId
    )

    // ตรวจสอบว่าตัวเลือกนี้มีการเลือกไว้แล้วหรือไม่
    const isSelected = optionOrderIndex !== -1

    // ถ้า serviceId = 1
    if (serviceId === 1) {
      // ถ้าตัวเลือกนี้มีการเลือกไว้แล้ว แล้วผู้ใช้กำลังกำลังคลิกเพื่อยกเลิกการเลือก
      if (isSelected) {
        serviceOrder.serviceOptionOrders.splice(optionOrderIndex, 1)
      }
      // ถ้าตัวเลือกนี้ยังไม่ได้ถูกเลือก แล้วผู้ใช้กำลังกำลังคลิกเพื่อเลือก
      else {
        // เพิ่มตัวเลือกใหม่เข้าไป
        serviceOrder.serviceOptionOrders.push({ optionId, optionName })
      }
    }
    // ถ้า serviceId = 2
    if (serviceId === 2) {
      // ลบตัวเลือกทั้งหมดก่อนที่จะเพิ่มตัวเลือกใหม่
      serviceOrder.serviceOptionOrders = [{ optionId, optionName }]
    }
  }
}

function selectedBathService() {
  return bookingStore.bgBooking.serviceOrders.some((serviceOrder) => serviceOrder.serviceId === 1)
}

function selectedGroomService() {
  return bookingStore.bgBooking.serviceOrders.some((serviceOrder) => serviceOrder.serviceId === 2)
}

const checkBathOptions = (optionId: number) => {
  const bathService = bookingStore.bgBooking.serviceOrders.find(
    (service) => service.serviceId === 1
  )
  if (!bathService) return false
  if (bathService.serviceOptionOrders.length === 0) return false
  const option = bathService.serviceOptionOrders.find((option) => option.optionId === optionId)
  if (!option) return false
  return true
}

const checkGroomOptions = (optionId: number) => {
  const groomService = bookingStore.bgBooking.serviceOrders.find(
    (service) => service.serviceId === 2
  )
  if (!groomService) return false
  if (groomService.serviceOptionOrders.length === 0) return false
  const option = groomService.serviceOptionOrders.find((option) => option.optionId === optionId)
  if (!option) return false
  return true
}
onMounted(async () => {
  await serviceStore.getService()
  console.log('All services:', serviceStore.service)

  await optionStore.getOptionByServiceId1(1)
  console.log('All options:', optionStore.option1)

  await optionStore.getOptionByServiceId2(2)
  console.log('All options:', optionStore.option2)
})
const firstServices = computed(() => {
  return serviceStore.service.filter((item) => item.serviceId === 1)
})
const secondServices = computed(() => {
  return serviceStore.service.filter((item) => item.serviceId === 2)
})
</script>
<template>
  <v-container fluid>
    <v-row style="margin-top: 5px; margin-left: 5px">
      <v-col class="d-flex container">
        <h3 class="">เลือกบริการอาบน้ำตัดขน</h3>
        <v-icon icon="mdi-paw"></v-icon>
        <v-icon icon="mdi-content-cut"></v-icon>
        <v-icon icon="mdi-shower-head"></v-icon>
      </v-col>
    </v-row>
    <v-row style="margin-top: 40px; margin-left: 5px">
      <v-col cols="4" class="border-col">
        <v-row>
          <v-col
            ><v-btn
              variant="plain"
              :ripple="false"
              style="font-weight: bold; font-size: 20px"
              @click="petStore.openServicePrice"
              >ราคาอาบน้ำตามน้ำหนักตัว</v-btn
            ></v-col
          >
        </v-row>
        <v-row>
          <v-col>
            <v-checkbox
              @click="selecteService(1, item.serviceName)"
              hide-details
              v-for="item of firstServices"
              :key="item.serviceId"
            >
              <template v-slot:label
                ><p style="font-size: 30px">{{ item.serviceName }}</p></template
              >
            </v-checkbox>
            <v-checkbox
              hide-details
              :disabled="!selectedBathService()"
              class="padding"
              @click="
                item.optionId !== undefined && selecteOption(1, item.optionId, item.optionName)
              "
              :model-value="checkBathOptions(item.optionId)"
              v-for="item of optionStore.option1"
              :key="item.optionId"
              :label="item.optionName"
              :value="item.optionId"
            ></v-checkbox>
            <v-text-field
              :disabled="!selectedBathService()"
              hide-details
              prepend-inner-icon="mdi-note-edit-outline"
              label="หมายเหตุ"
              style="flex: 1; padding-left: 45px"
              v-model="bookingStore.notebath"
            ></v-text-field>
            <v-checkbox
              @click="selecteService(2, item.serviceName)"
              hide-details
              v-for="item of secondServices"
              :key="item.serviceId"
            >
              <template v-slot:label
                ><p style="font-size: 30px">{{ item.serviceName }}</p></template
              >
            </v-checkbox>
            <v-checkbox
              hide-details
              :disabled="!selectedGroomService()"
              class="padding"
              @click="
                item.optionId !== undefined && selecteOption(2, item.optionId, item.optionName)
              "
              :model-value="checkGroomOptions(item.optionId)"
              v-for="item of optionStore.option2"
              :key="item.optionId"
              :label="item.optionName"
              :value="item.optionId"
            ></v-checkbox>
            <v-text-field
              :disabled="!selectedGroomService()"
              prepend-inner-icon="mdi-note-edit-outline"
              hide-details
              label="หมายเหตุ"
              style="flex: 1; padding-left: 45px"
              v-model="bookingStore.notegroom"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row> </v-row>
      </v-col>
      <v-col cols="5">
        <v-row>
          <v-col cols="6">
            <p style="font-size: 30px; margin-left: 10px; margin-top: 10px">เลือกวันที่</p>
            <v-date-picker
              class="ml-2"
              elevation="5"
              :width="350"
              :height="430"
              color="primary"
              theme="dark"
              v-model="bookingStore.selecteddate"
              hide-header
            ></v-date-picker>
          </v-col>
          <v-col cols="6">
            <p style="font-size: 30px; margin-left: 120px; margin-top: 10px">เลือกเวลา</p>
            <v-row>
              <v-col class="ml-10 mt-5"
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '09.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '09.00 น.'"
                >
                  09.00
                </v-btn></v-col
              >
              <v-col class="mt-5"
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '15.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '15.00 น.'"
                >
                  15.00
                </v-btn></v-col
              >
            </v-row>
            <v-row>
              <v-col class="ml-10"
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '10.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '10.00 น.'"
                >
                  10.00
                </v-btn></v-col
              >
              <v-col
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '16.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '16.00 น.'"
                >
                  16.00
                </v-btn></v-col
              >
            </v-row>
            <v-row>
              <v-col class="ml-10"
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '11.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '11.00 น.'"
                >
                  11.00
                </v-btn></v-col
              >
              <v-col
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '17.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '17.00 น.'"
                >
                  17.00
                </v-btn></v-col
              >
            </v-row>
            <v-row>
              <v-col class="ml-10"
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '13.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '13.00 น.'"
                >
                  13.00
                </v-btn></v-col
              >
              <v-col
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '18.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '18.00 น.'"
                >
                  18.00
                </v-btn></v-col
              >
            </v-row>
            <v-row>
              <v-col class="ml-10"
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '14.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '14.00 น.'"
                >
                  14.00
                </v-btn></v-col
              >
              <v-col
                ><v-btn
                  class="margin colorbtntime"
                  size="large"
                  rounded="lg"
                  :style="{
                    backgroundColor:
                      bookingStore.bgBooking.bgbBookingTime === '19.00 น.' ? '#220A89' : '#3742FA'
                  }"
                  @click="bookingStore.bgBooking.bgbBookingTime = '19.00 น.'"
                >
                  19.00
                </v-btn></v-col
              >
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-row
            ><v-col class="d-flex flex-column"
              ><p style="font-size: 30px; margin-left: 22px; margin-top: 10px">เลือกสัตว์เลี้ยง</p>
              <v-btn
                @click="petStore.openAddPet"
                class="ml-5"
                :height="150"
                :width="350"
                rounded="lg"
                color="#D9D9D9"
                link
              >
                <v-card v-if="petStore.selectedPet" :height="150" :width="350" rounded="lg">
                  <v-row>
                    <v-col cols="6">
                      <v-container>
                        <v-img
                          cover
                          :height="120"
                          :src="`${bookingStore.backendURL}/pets/image/${petStore.imageSelectedPet}`"
                          style="object-fit: contain; border-radius: 10%"
                        ></v-img>
                      </v-container>
                    </v-col>
                    <v-col cols="6">
                      <v-container>
                        <p class="font-pet">ชื่อ : {{ petStore.selectedPet.petName }}</p>
                        <p class="font-pet">ประเภท : {{ petStore.selectedPet.petType }}</p>
                      </v-container>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card v-else :height="150" :width="350" rounded="lg" color="#D9D9D9">
                  <h1 style="text-align: center; margin-top: 1.8rem; font-size: 60px">+</h1>
                </v-card>
              </v-btn>
            </v-col></v-row
          >
        </v-row>
      </v-col>
      <v-col
        style="background: #f6e3ff; border-radius: 5%; position: relative"
        cols="3"
        class="pa-5"
      >
        <p
          style="
            font-size: 30px;
            margin-left: 22px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
          "
        >
          สรุปรายการ
        </p>
        <v-divider class="mt-2 mb-3"></v-divider>
        <v-row v-for="service in bookingStore.bgBooking.serviceOrders" :key="service.serviceId">
          <v-col>
            <v-row style="overflow-y: auto; max-height: 380px">
              <v-col>
                <h2>{{ service.serviceName }}</h2>
                <div v-if="service.serviceId === 1" class="pl-3">
                  <p
                    v-for="option in service.serviceOptionOrders"
                    :key="option.optionId"
                    style="font-size: 20px"
                  >
                    {{ '+ ' + option.optionName }}
                  </p>
                  <p style="font-size: 20px">{{ 'note : ' + bookingStore.notebath }}</p>
                </div>
                <div v-else-if="service.serviceId === 2" class="pl-3">
                  <p
                    v-for="option in service.serviceOptionOrders"
                    :key="option.optionId"
                    style="font-size: 20px"
                  >
                    {{ '+ ' + option.optionName }}
                  </p>
                  <p style="font-size: 20px">{{ 'note : ' + bookingStore.notegroom }}</p>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row style="position: absolute; bottom: 190px">
          <p style="font-size: 25px; margin-left: 1.5rem; margin-top: 1rem">
            วันที่เข้ารับบริการ {{ bookingStore.bgBooking.bgbBookingDate }}
            {{ bookingStore.bgBooking.bgbBookingTime }}
          </p>
        </v-row>
        <v-row style="position: absolute; bottom: 150px">
          <p style="font-size: 25px; margin-left: 1.5rem">มัดจำ</p>
          <p style="font-size: 25px; margin-left: 15rem">200 บาท</p>
        </v-row>

        <v-row style="position: absolute; bottom: 4rem; right: 2rem">
          <v-btn
            @click="checkChooseOption()"
            size="large"
            rounded="xl"
            style="font-weight: bold; background-color: #a8ff99"
            >ชำระมัดจำ</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
  <v-dialog v-model="chooseOption" persistent style="width: 500px; height: 500px">
    <v-card style="padding: 2rem; display: flex; justify-content: center; align-items: center">
      <h3 style="margin-bottom: 0.3rem">เลือกบริการให้ครบ</h3>
      <v-spacer></v-spacer>
      <v-card-actions>
        <v-btn
          @click="chooseOption = false"
          size="large"
          rounded="xl"
          style="
            font-weight: bold;
            background-color: #a8ff99;
            padding-left: 2rem;
            padding-right: 2rem;
          "
        >
          ตกลง
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <show-pet></show-pet>
  <service-price></service-price>
</template>
<style scoped>
.container {
  max-width: 15%;
  border: 0px solid #e5c4f4;
  border-radius: 7px;
  background-color: #e5c4f4;
}
.font {
  font-size: 20px;
}
.margin {
  margin-right: 20px;
  margin-bottom: 20px;
}
.colorbtntime {
  background-color: #d9d9d9;
  color: rgb(255, 255, 255);
}
.btn-large {
  font-size: 20px;
  padding: 20px 50px;
}

.padding {
  padding-left: 50px;
  margin-bottom: -2;
}

.padding-2 {
  padding-left: 34px;
}

.border-col {
  border-right: 5px solid #000000; /* เส้นขอบด้านขวา */
}

.font-pet {
  font-size: 20px;
  color: black;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}
</style>
