<script setup lang="ts">
import { useBookingStore } from '@/stores/booking'
import { onMounted, ref } from 'vue'

const tab = ref(null)
const bookingStore = useBookingStore()
const confirmCancel = ref(false)

function confirmBookingCancellation(bgbId: number) {
  bookingStore.delBookingNoCage(bgbId)
  confirmCancel.value = false
}

onMounted(async () => {
  await bookingStore.getBookingByCus()
})
</script>
<template>
  <v-btn prepend-icon="mdi-arrow-left" class="no2-shadow mt-3" style="font-size: 120%" to="/">
    ย้อนกลับ
  </v-btn>

  <v-row class="d-flex justify-center mt-2">
    <v-col class="d-flex container">
      <h3 class="ml-10">การจองคอร์ส / บริการ</h3>
    </v-col>
  </v-row>
  <v-card
    elevation="20"
    width="1650px"
    height="520.86px"
    class="mx-auto ma-12 pa-5 no1-shadow color n-shadow"
    style="border-radius: 50px; border: 1px solid"
    outlined
    variant="outlined"
  >
    <v-tabs v-model="tab" color="deep-purple-accent-1" align-tabs="center">
      <v-row>
        <v-col class="d-flex justify-center"
          ><v-tab :value="0" style="width: 100%">การจองเวลาคอร์สฝึกสอน</v-tab></v-col
        >
        <v-col class="d-flex justify-center"
          ><v-tab :value="1" style="width: 100%">การจองบริการอาบน้ำตัดขน</v-tab></v-col
        >
        <v-col class="d-flex justify-center"
          ><v-tab :value="2" style="width: 100%">การจองบริการฝากเลี้ยง</v-tab></v-col
        >
      </v-row>
    </v-tabs>
    <v-window v-model="tab">
      <v-window-item value="0">
        <v-table class="line">
          <thead>
            <tr>
              <th class="text-center line">รหัสการจอง</th>
              <th class="text-center">ชื่อคอร์สที่จอง</th>
              <th class="text-center">วันที่จอง</th>
              <th class="text-center">เวลาที่จอง</th>
              <th class="text-center">สถานะ</th>
              <th class="text-center">ยกเลิกการจอง</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">10</td>
              <td class="text-center">คอร์สว่ายน้ำ</td>
              <td class="text-center">20/02/2567</td>
              <td class="text-center">14:00</td>
              <td class="text-center">รอเข้ารับบริการ</td>
              <td class="text-center">
                <v-btn style="font-size: 15px; border-radius: 50px; background-color: #e59090"
                  >ยกเลิกการจอง</v-btn
                >
              </td>
            </tr>
            <tr>
              <td class="text-center">7</td>
              <td class="text-center">คอร์สไต่เชือก</td>
              <td class="text-center">2ภ/02/2567</td>
              <td class="text-center">14:00</td>
              <td class="text-center">รอเข้ารับบริการ</td>
              <td class="text-center">
                <v-btn style="font-size: 15px; border-radius: 50px; background-color: #e59090"
                  >ยกเลิกการจอง</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-window-item>
      <v-window-item value="1">
        <v-table class="line" style="height: 400px; overflow-y: auto">
          <thead>
            <tr>
              <th class="text-center line">รหัสการจอง</th>
              <th class="text-center">รายละเอียดการจอง</th>
              <th class="text-center">วันที่จอง</th>
              <th class="text-center">เวลาที่จอง</th>
              <th class="text-center">สถานะ</th>
              <th class="text-center">ยกเลิกการจอง</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of bookingStore.bookingbycus" :key="item.bgbId">
              <td class="text-center" v-if="item.bgbStatus !== 'บริการสำเร็จ'">{{ item.bgbId }}</td>
              <td class="text-center" v-if="item.bgbStatus !== 'บริการสำเร็จ'">
                <v-btn variant="plain" style="opacity: 100%">
                  <span v-for="(order, orderIndex) in item.serviceOrders" :key="orderIndex">
                    {{ order.serviceName }}
                    <span v-if="orderIndex !== item.serviceOrders.length - 1">, </span>
                  </span>

                  <v-tooltip activator="parent">
                    <template
                      v-for="(order, index) in item.serviceOrders"
                      :key="order.serviceOrderId"
                    >
                      <span class="d-flex flex-column text-start">
                        {{ order.serviceName }} <br />
                        <span
                          class="ml-2"
                          v-for="(option, optionIndex) in order.serviceOptionOrders"
                          :key="option.serviceOptionOrderId"
                        >
                          {{ '+ ' + option.optionName }} <br />
                          <!-- เพิ่มเครื่องหมาย '+' เมื่อไม่ใช่ option สุดท้าย -->
                          <template
                            v-if="optionIndex !== order.serviceOptionOrders.length - 1"
                          ></template>
                        </span>
                        <!-- เพิ่มเครื่องหมาย '+' เมื่อไม่ใช่ order สุดท้าย -->
                        <template v-if="index !== item.serviceOrders.length - 1"> </template>
                      </span>
                    </template>
                  </v-tooltip>
                </v-btn>
              </td>
              <td class="text-center" v-if="item.bgbStatus !== 'บริการสำเร็จ'">
                {{ item.bgbBookingDate }}
              </td>
              <td class="text-center" v-if="item.bgbStatus !== 'บริการสำเร็จ'">
                {{ item.bgbBookingTime }}
              </td>
              <td class="text-center" v-if="item.bgbStatus !== 'บริการสำเร็จ'">
                {{ item.bgbStatus }}
              </td>

              <td class="text-center" v-if="item.bgbStatus !== 'บริการสำเร็จ'">
                <v-btn
                  style="font-size: 15px; border-radius: 50px; background-color: #e59090"
                  :disabled="item.bgbStatus !== 'รอเข้ารับบริการ'"
                  @click="confirmCancel = true"
                  >ยกเลิกการจอง</v-btn
                >
              </td>

              <v-dialog v-model="confirmCancel" persistent style="width: 600px; height: 600px">
                <v-card
                  style="padding: 2rem; display: flex; justify-content: center; align-items: center"
                >
                  <h3 style="margin-bottom: 0.3rem; text-align: center">
                    ค่ามัดจำการจองบริการจะถูกหักไปถาวร
                  </h3>
                  <h3 style="margin-bottom: 0.3rem; text-align: center">
                    หากคุณลูกค้ายอมรับในข้อตกลง
                  </h3>
                  <h3 style="margin-bottom: 0.3rem; text-align: center">
                    สามารถยืนยันการยกเลิกการจองได้เลย
                  </h3>
                  <v-spacer></v-spacer>
                  <v-icon size="70"><v-img src="../../public/picture/alarm.png"></v-img></v-icon>
                  <v-card-actions>
                    <v-btn
                      @click="confirmCancel = false"
                      size="large"
                      rounded="xl"
                      style="
                        font-weight: bold;
                        background-color: #e59090;
                        padding-left: 2rem;
                        padding-right: 2rem;
                        margin-right: 1rem;
                      "
                    >
                      ยกเลิก
                    </v-btn>
                    <v-btn
                      @click="confirmBookingCancellation(item.bgbId)"
                      size="large"
                      rounded="xl"
                      style="
                        font-weight: bold;
                        background-color: #a8ff99;
                        padding-left: 2rem;
                        padding-right: 2rem;
                        margin-left: 1rem;
                      "
                    >
                      ยืนยัน
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
          </tbody>
        </v-table>
      </v-window-item>
      <v-window-item value="2">
        <v-table class="line">
          <thead>
            <tr>
              <th class="text-center line">รหัสการจอง</th>
              <th class="text-center">รายละเอียดการจอง</th>
              <th class="text-center">วันที่จอง</th>
              <th class="text-center">เวลาที่จอง</th>
              <th class="text-center">สถานะ</th>
              <th class="text-center">ยกเลิกการจอง</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">17</td>
              <td class="text-center">ห้อง:PrivateRoom จำนวน:1ตัว</td>
              <td class="text-center">20/02/2567</td>
              <td class="text-center">14:00</td>
              <td class="text-center">รอเข้ารับบริการ</td>

              <td class="text-center">
                <v-btn style="font-size: 15px; border-radius: 50px; background-color: #e59090"
                  >ยกเลิกการจอง</v-btn
                >
              </td>
            </tr>
            <tr>
              <td class="text-center">7</td>
              <td class="text-center">ห้อง:PrivateRoom จำนวน:1ตัวตัดขน</td>
              <td class="text-center">28/02/2567</td>
              <td class="text-center">14:00</td>
              <td class="text-center">รอเข้ารับบริการ</td>
              <td class="text-center">
                <v-btn style="font-size: 15px; border-radius: 50px; background-color: #e59090"
                  >ยกเลิกการจอง</v-btn
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-window-item>
    </v-window>
  </v-card>
</template>
<style scoped>
.no2-shadow {
  box-shadow: none !important;
}
.container {
  max-width: 13%;
  border: 0px solid #e5c4f4;
  border-radius: 7px;
  background-color: #e5c4f4;
}
.n-shadow {
  box-shadow: none !important;
}
.line th,
td {
  border: 1px solid #999999;
}

* {
  font-size: 20px;
}

.tooltip-content {
  font-size: 16px; /* ปรับขนาดตามที่คุณต้องการ */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 9999;
}

.disabled {
  color: #000000; /* เปลี่ยนสีตัวอักษรเป็นเทา */
  background-color: #ffffff; /* เปลี่ยนสีพื้นหลังเป็นสีเทาอ่อน */
  cursor: not-allowed; /* เปลี่ยนเคอร์เซอร์เป็นรูปแบบที่ไม่สามารถใช้งานได้ */
}
</style>
