<script setup lang="ts"></script>
<template>
  <v-container class="adjust">
    <v-row>
      <v-col cols="12" md="4">
        <h1>คอร์ดฝึกสอน</h1>
        <v-btn to="/course1" class="Shape1 no1-shadow">
          <v-card
            class="margin no1-shadow"
            width="500"
            height="300"
            image="https://cdn.discordapp.com/attachments/1178721605145337987/1208464035188576296/image.png?ex=65e360d6&is=65d0ebd6&hm=8df2568feccdd2ddc4a1b6cf0517f4ab643ce8bee65a41f48cbc1bb340a20cf8&"
          >
          </v-card>
          <h2 class="swimmer-text">ว่ายน้ำ</h2>
          <h2 class="price-text" style="font-size: 27px">
            <span style="color: red; font-size: 27px">5,000</span> บาท
          </h2>
        </v-btn>
      </v-col>
      <v-col cols="12" md="4">
        <v-btn to="/course2" class="Shape2 no1-shadow">
          <v-card
            class="margin no1-shadow"
            width="500"
            height="300"
            image="https://cdn.discordapp.com/attachments/1178721605145337987/1208469256786939904/image.png?ex=65e365b3&is=65d0f0b3&hm=bbc86272790b757be744bb8813a69edadf4db1854790d21ef89b9b806cae4137&"
          >
          </v-card>
          <h2 class="swimmer-text">ไต่ราว</h2>
          <h2 class="price-text" style="font-size: 27px">
            <span style="color: red; font-size: 27px">8,000</span> บาท
          </h2>
        </v-btn>
      </v-col>
      <v-col cols="12" md="4">
        <v-btn to="/course3" class="Shape3 no1-shadow">
          <v-card
            class="margin no1-shadow"
            width="500"
            height="300"
            image="https://cdn.discordapp.com/attachments/1178721605145337987/1208469565722464306/image.png?ex=65e365fc&is=65d0f0fc&hm=7dff4e21068f9341560198e3af68339279c2ec610d91ecdccd6ec381bc1262a8&"
          >
          </v-card>
          <h2 class="swimmer-text">คอร์ดเรียน 3</h2>
          <h2 class="price-text" style="font-size: 27px">
            <span style="color: red; font-size: 27px">6,500</span> บาท
          </h2>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.adjust {
  margin-left: 130px;
  margin-top: 150px;
}
.Shape1 {
  width: 600px;
  height: 545px;
  left: -60.07px;
  top: 20.68px;

  background: rgba(174, 71, 223, 0.32);
}

.Shape2 {
  width: 596px;
  height: 545px;
  left: 0.07px;
  top: 68px;

  background: rgba(174, 71, 223, 0.32);
}

.Shape3 {
  width: 596px;
  height: 545px;
  left: 60.07px;
  top: 68px;

  background: rgba(174, 71, 223, 0.32);
}
.no1-shadow {
  box-shadow: none !important;
}
.margin {
  margin-bottom: 150px;
}
.swimmer-text {
  position: absolute;
  top: 365px; /* ปรับตำแหน่งตามที่ต้องการ */
  left: 250px; /* ปรับตำแหน่งตามที่ต้องการ */
}
.price-text {
  position: absolute;
  top: 500px; /* ปรับตำแหน่งตามที่ต้องการ */
  left: 430px; /* ปรับตำแหน่งตามที่ต้องการ */
}
</style>
