<script setup lang="ts"></script>
<template>
 
 <v-row class="mt-2">
    <v-col class="container text-aj">
      <!-- <v-icon>mdi-clock</v-icon> -->
      <h3 class="ml-1">จองเวลาเรียน</h3>
      
    </v-col>
  </v-row>
      
    
    <v-row>
      <v-col cols="12" md="4" >
        <v-btn class="Shape1 no1-shadow adjust1">
          <!-- <v-card width="592"
            height="545"
            class="no1-shadow"
            
            >
            
          </v-card> -->
          <span class="text-aj2" style="font-size: 30px;">คอร์สสอน 1</span>
          
          <span class="text-aj1" style="font-size: 30px;">15/15 ครั้ง</span>
        </v-btn>

      </v-col>
      <v-col cols="12" md="4">
        <v-btn class="Shape1 no1-shadow adjust2">
          <!-- <v-card width="592"
            height="545"
            class="no1-shadow"
            
            >
            
          </v-card> -->
          <span class="text-aj2" style="font-size: 30px;">คอร์สสอน 2</span>
          <span class="text-aj1" style="font-size: 30px;">15/15 ครั้ง</span>
        </v-btn>
      </v-col>
      <v-col cols="12" md="4">
        <v-btn class="Shape1 no1-shadow adjust3">
          <!-- <v-card width="592"
            height="545"
            class="no1-shadow"
            
            >
            
          </v-card> -->
          <span class="text-aj2" style="font-size: 30px;">คอร์สสอน 3</span>
          <span class="text-aj1" style="font-size: 30px;">15/15 ครั้ง</span>
        </v-btn>
      </v-col>
    </v-row>
 
  
</template>
<style scoped>
.Shape1 {
  width: 592px;
  height: 545px;
  left: -60.07px;
  top: 20.68px;
  background-color: #AE47DF;
}
.no1-shadow {
  box-shadow: none !important;
}

.adjust1 {
  margin-left: 125px;
  margin-top: 200px;
}
.adjust2 {
  margin-left: 113px;
  margin-top: 200px;
}
.adjust3 {
  margin-left: 95px;
  margin-top: 200px;
}
.container {
  max-width:7.5%;
  max-height: 5%;
  border: 0px solid #e5c4f4;
  border-radius: 7px;
  background-color: #e5c4f4;
}
.text-aj {
  margin-left: 74px;
  margin-top: 80px;
}
.text-aj1 {
  margin-left: 10px;
  margin-top: 500px;
}
.text-aj2 {
  margin-left: 180px;
}
</style>

