<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { usePetStore } from '@/stores/pet'
import { ref } from 'vue'
import AddPet from '@/components/AddPet.vue'
const showpass = ref(false)
const password = ref('Pass@1234')
const authStore = useAuthStore()
const petStore = usePetStore()
</script>
<template>
  <v-container>
    <v-row>
      <v-col class="container">
        <h3 style="margin-left: 8px">จัดการข้อมูลผู้ใช้</h3>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="4"
        ><v-row style="padding-top: 40px"
          ><v-btn class="btn" @click="petStore.openAddPet"
            ><v-container
              ><v-row class="d-flex justify-center"
                ><img
                  src="https://media.discordapp.net/attachments/1178721605145337987/1208453968091676773/image.png?ex=65e35775&is=65d0e275&hm=a2afecaf722ac75d3b7e8f483429fbc61116ce3c14e3650e2fa6c3015d882c0c&=&format=webp&quality=lossless"
                  width="100px"
                  class="d-flex justify-center"
                  style="margin-top: 5px" /></v-row
              ><v-row class="d-flex justify-center"
                ><p style="font-weight: bolder; font-size: large">จัดการข้อมูลสัตว์เลี้ยง</p></v-row
              ></v-container
            ></v-btn
          ></v-row
        ><v-row style="padding-top: 30px"
          ><v-btn class="btn"
            ><v-container
              ><v-row class="d-flex justify-center"
                ><img
                  src="https://media.discordapp.net/attachments/1178721605145337987/1208464915774312488/image.png?ex=65e361a8&is=65d0eca8&hm=cd1db89a3b33dc70fa896e29eaa383ba0b4196689a61b4da19674d4edbb6dc61&=&format=webp&quality=lossless"
                  width="100px"
                  class="d-flex justify-center"
                  style="margin-top: 5px" /></v-row
              ><v-row class="d-flex justify-center"
                ><p style="font-weight: bolder; font-size: large">บันทึกในความสนใจ</p></v-row
              ></v-container
            ></v-btn
          ></v-row
        ><v-row style="padding-top: 30px"
          ><v-btn class="btn"
            ><v-container
              ><v-row class="d-flex justify-center"
                ><img
                  src="https://media.discordapp.net/attachments/1178721605145337987/1208464945814052874/image.png?ex=65e361af&is=65d0ecaf&hm=eb460beffa1d9b05d2020966400fe86fc10a8cb76095066d11d1c47eb81bac80&=&format=webp&quality=lossless"
                  width="100px"
                  class="d-flex justify-center"
                  style="margin-top: 5px" /></v-row
              ><v-row class="d-flex justify-center"
                ><p style="font-weight: bolder; font-size: large">ประวัติการซื้อ</p></v-row
              ></v-container
            ></v-btn
          ></v-row
        ></v-col
      >
      <v-col cols="8" style="margin-top: 25px"
        ><v-container
          style="background-color: #f9f2fd; border-radius: 2rem; height: 660px; width: 1000px"
          ><v-row
            ><v-col class="d-flex justify-center" style="font-size: larger; font-weight: bolder"
              >ข้อมูผู้ใช้</v-col
            ></v-row
          ><v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">Username</v-col
            ><v-col cols="8"
              ><v-text-field
                model-value="tan"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>
          <v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">Password</v-col
            ><v-col cols="8"
              ><v-text-field
                :append-inner-icon="showpass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showpass ? 'text' : 'password'"
                v-model="password"
                @click:append-inner="showpass = !showpass"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>
          <v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">Email</v-col
            ><v-col cols="8"
              ><v-text-field
                model-value="64160057@gmail.com"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>
          <v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">ชื่อ</v-col
            ><v-col cols="8"
              ><v-text-field
                model-value="วัชรพล"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>
          <v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">นามสกุล</v-col
            ><v-col cols="8"
              ><v-text-field
                model-value="เจนเชี่ยวชาญ"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>
          <v-row style="height: 80px"
            ><v-col cols="4" class="mt-6 pl-16">เบอร์โทรศัพท์</v-col
            ><v-col cols="8"
              ><v-text-field
                model-value="0637493462"
                variant="underlined"
                class="textF"
              ></v-text-field></v-col
          ></v-row>
          <v-row class="mt-10"
            ><v-col
              ><v-btn
                style="
                  margin-left: 750px;
                  border-radius: 50px;
                  width: 150px;
                  box-shadow: none !important;
                  background-color: #a8ff99;
                "
                >บันทึก</v-btn
              ></v-col
            ></v-row
          >
        </v-container>
        <add-pet></add-pet>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.container {
  max-width: 9%;
  border: 0px solid #e5c4f4;
  border-radius: 7px;
  background-color: #e5c4f4;
  margin-top: 10px;
}

.btn {
  width: 350px;
  height: 200px;
  background-color: #d9d9d9;
  box-shadow: none !important;
  border-radius: 2rem;
  align-items: center;
}

.textF {
  width: 400px;
}
</style>
