<script setup lang="ts">
import AddPet from '@/components/AddPet.vue'
import { ref, watch } from 'vue'
import { usePetStore } from '@/stores/pet'
import ServicePrice from '@/components/ServicePrice.vue'
const petStore = usePetStore()
const selectedbath = ref(false)
const bathoption = ref([])
const notebath = ref()
const selectedgroom = ref(false)
const groomoption = ref()
const notegroom = ref()
const selectedtime = ref('')
const selecteddate = ref<String | null>(null)
const backendURL = 'http://localhost:3000'

watch(selectedbath, () => {
  if (selectedbath.value === false) {
    bathoption.value = []
    notebath.value = undefined
  }
})
watch(selectedgroom, () => {
  if (selectedgroom.value === false) {
    groomoption.value = undefined
    notegroom.value = undefined
  }
})

watch(selecteddate, (newValue) => {
  console.log('Selected date:', newValue)
})

function handleButtonClick(time: string): void {
  selectedtime.value = time
  console.log(selectedtime)
}
</script>
<template>
  <v-container fluid>
    <v-row style="margin-top: 5px; margin-left: 5px">
      <v-col class="d-flex container">
        <h3 class="ml">บริการฝากเลี้ยง</h3>
      </v-col>
    </v-row>
    <v-row style="margin-top: 40px; margin-left: 5px">
      <v-col cols="4" class="border-col">
        <v-row>
          <v-col>
            <div style="height: 100px">
              <p>Party Room</p>
              <p>• ห้องรวม 250/วัน/ตัว</p>
            </div>
            <br />
            <div style="height: 150px">
              <p>Private Room 1</p>
              <p>• ห้องส่วนตัว ขนาดมาตร 1.6*1.6 เมตร</p>
              <p>• พักได้สูงสุด 5 ตัว</p>
              <p>• 350/วัน/ตัว</p>
            </div>
            <br />
            <div style="height: 170px">
              <p>Private Room 2</p>
              <p>• ห้องส่วนตัว ขนาดมาตร 2.2*1.6 เมตร</p>
              <p>• พักได้สูงสุด 7 ตัว</p>
              <p>• 400/วัน/ตัว</p>
            </div>
            <br />
            <div>
              <p>Privilege Room</p>
              <p>• ห้องขนาดใหญ่พิเศษ 5*2.7 เมตร</p>
              <p>• พักได้สูงสุด 9 ตัว</p>
              <p>• ราคาเหมาวันละ 1,500 บาท</p>
            </div>
          </v-col>
        </v-row>
        <v-row> </v-row>
      </v-col>
      <v-col cols="5">
        <v-row>
          <v-col cols="6">
            <p style="font-size: 30px; margin-left: 100px; margin-top: 10px; font-weight: bold">
              เลือกวันที่ฝาก
            </p>
            <v-date-picker
              class="ml-2"
              elevation="5"
              :width="350"
              :height="430"
              color="primary"
              theme="dark"
              v-model="selecteddate"
              hide-header
            ></v-date-picker>
          </v-col>
          <v-col cols="6">
            <p style="font-size: 30px; margin-left: 110px; margin-top: 10px; font-weight: bold">
              เลือกวันที่รับ
            </p>
            <v-row>
              <v-col>
                <v-date-picker
                  class="ml-2"
                  elevation="5"
                  :width="350"
                  :height="430"
                  color="primary"
                  theme="dark"
                  v-model="selecteddate"
                  hide-header
                ></v-date-picker>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-row
            ><v-col class="d-flex flex-column"
              ><p style="font-size: 30px; margin-left: 177px; margin-top: 10px; font-weight: bold">
                ห้อง
              </p>
              <v-row class="d-flex flex-direction: row">
                <v-btn
                  style="font-weight: bold"
                  class="ml-6 mt-5"
                  :height="50"
                  :width="150"
                  rounded="xl"
                  color="#D9D9D9"
                  link
                >
                  Party Room
                </v-btn>
                <v-btn
                  style="font-weight: bold"
                  class="ml-16 mt-5"
                  :height="50"
                  :width="150"
                  rounded="xl"
                  color="#D9D9D9"
                  link
                >
                  Private Room 1
                </v-btn>
              </v-row>

              <v-row class="d-flex flex-direction: row">
                <v-btn
                  style="font-weight: bold"
                  class="ml-6 mt-5"
                  :height="50"
                  :width="150"
                  rounded="xl"
                  color="#D9D9D9"
                  link
                >
                  Private Room 2
                </v-btn>
                <v-btn
                  style="font-weight: bold"
                  class="ml-16 mt-5"
                  :height="50"
                  :width="150"
                  rounded="xl"
                  color="#D9D9D9"
                  link
                >
                  Privilege Room
                </v-btn>
              </v-row>

              <p
                style="
                  font-size: 30px;
                  margin-left: 560px;
                  margin-top: 10px;
                  position: absolute;
                  font-weight: bold;
                "
              >
                จำนวนที่ฝาก
              </p>
              <p
                style="
                  font-size: 30px;
                  margin-left: 700px;
                  margin-top: 100px;
                  position: absolute;
                  cursor: pointer;
                "
              >
                +
              </p>
              <p
                style="
                  font-size: 30px;
                  margin-left: 560px;
                  margin-top: 100px;
                  position: absolute;
                  cursor: pointer;
                "
              >
                -
              </p>
              <p style="font-size: 30px; margin-left: 630px; margin-top: 100px; position: absolute">
                0
              </p>
            </v-col></v-row
          >
        </v-row>
      </v-col>
      <v-col style="background: #f6e3ff; border-radius: 5%" cols="3">
        <p
          style="
            font-size: 30px;
            margin-left: 22px;
            margin-top: 10px;
            text-align: center;
            font-weight: bold;
          "
        >
          สรุปรายการ
        </p>
        <v-divider class="mt-2 mb-2"></v-divider>
        <p style="font-weight: bold">ห้อง</p>
        <p style="position: absolute; top: 285px; left: 1800px; font-weight: bold">จำนวนตัว</p>
        <p style="position: absolute; top: 285px; left: 1950px; font-weight: bold">วัน</p>
        <p style="position: absolute; top: 285px; left: 2050px; font-weight: bold">ราคา</p>
        <p style="position: absolute; top: 650px; left: 1450px; font-weight: bold">มัดจำ 20 %</p>
        <p style="position: absolute; top: 700px; left: 1450px; font-weight: bold">
          ราคามัดจำ <span> 0 </span> บาท
        </p>
        <v-row>
          <v-col class="text-right"
            ><v-btn
              to="/payment"
              size="large"
              rounded="xl"
              style="
                font-weight: bold;
                background-color: #a8ff99;
                position: absolute;
                top: 830px;
                left: 1750px;
              "
              >ชำระมัดจำ</v-btn
            >
            <v-btn
              size="large"
              rounded="xl"
              style="
                font-weight: bold;
                background-color: red;
                position: absolute;
                top: 830px;
                left: 1650px;
              "
              >ยกเลิก</v-btn
            ></v-col
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
  <add-pet></add-pet>
  <service-price></service-price>
</template>
<style scoped>
.container {
  max-width: 15%;
  border: 0px solid #e5c4f4;
  border-radius: 7px;
  background-color: #e5c4f4;
}
.position {
  position: absolute;
  left: 930px;
  bottom: 293px;
}
.position1 {
  position: absolute;
  left: 950px;
  bottom: 188px;
}
.ml {
  margin-left: 80px;
}
.font {
  font-size: 20px;
}
.margin {
  margin-right: 20px;
  margin-bottom: 20px;
}
.colorbtntime {
  background-color: #d9d9d9;
  color: rgb(255, 255, 255);
}
.btn-large {
  font-size: 20px;
  padding: 20px 50px;
}

.padding {
  padding-left: 50px;
  margin-bottom: -2;
}

.padding-2 {
  padding-left: 34px;
}

.border-col {
  border-right: 5px solid #000000; /* เส้นขอบด้านขวา */
}

.font-pet {
  font-size: 20px;
  color: black;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}
p {
  font-size: 20px;
}
</style>
