<script setup lang="ts">
import { ref } from 'vue'
import router from '@/router'
import { useAuthStore } from '@/stores/auth'
import type { VForm } from 'vuetify/lib/components/index.mjs'
const showpass = ref(false)
const email = ref('')
const password = ref('')
const authStore = useAuthStore()
const refForm = ref<VForm | null>(null)
const currentpath = router.currentRoute.value.fullPath
const form = ref<InstanceType<typeof VForm> | null>(null)
const login = async () => {
  const { valid } = await form.value!.validate()
  if (valid) {
    authStore.login()
  }
}
const reset = () => {
  form.value?.reset()
}
const required = (v: string) => {
  return !!v || 'Field is required'
}
const onSummit = async () => {
  const { valid } = await refForm.value!.validate()
  if (valid) {
    authStore.login()
  }
}
</script>
<template>
  <h1 class="ml-6">Pet<span style="color: #ae47df">Care</span></h1>
  <div>{{ email }} {{ password }}</div>
  <v-container class="my-container h-screen" fluid full-height>
    <v-card
      elevation="20"
      width="631px"
      height="648.86px"
      class="mx-auto ma-16 pa-5"
      style="border-radius: 20px"
    >
      <h2
        class="text-center"
        style="font-weight: bolder; font-family: Noto Sans Thai; color: #000000"
      >
        เข้าสู่ระบบ
      </h2>
      <v-card-text class="pa-5">
        <v-form ref="form" @submit="onSummit">
          <v-text-field
            class="mt-15"
            label="Email"
            v-model="authStore.email"
            variant="outlined"
            :rules="[
              (v) => !!v || 'Login Email is required',
              (v) => v.length >= 2 || 'Email must be more than or equal 2 characters'
            ]"
            required
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Password"
            :append-inner-icon="showpass ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showpass ? 'text' : 'password'"
            v-model="authStore.password"
            @click:append-inner="showpass = !showpass"
            variant="outlined"
            :rules="[
              (v) => !!v || 'Password is required',
              (v) => v.length >= 8 || 'Password must be more than or equal 8 characters'
            ]"
            required
          ></v-text-field>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-btn
          style="background-color: #ffe500; width: 100%"
          block
          rounded="xl"
          size="x-large"
          type="submit"
          @click="login"
          >เข้าสู่ระบบ</v-btn
        >
      </v-card-actions>
      <p class="text-center mt-15">
        คุณยังไม่มีบัญชี ?
        <span @click="router.push('/Singin')" style="cursor: pointer; color: #00b2d9"
          >สมัครสมาชิก</span
        >
      </p>
    </v-card>
  </v-container>
  <MessageBoxVue></MessageBoxVue>
</template>
