<script setup lang="ts"></script>

<template>
  <v-container fluid>
    <v-sheet class="center"
      ><h1>Pet<span style="color: #ae47df">Care</span></h1>
      <p>
        ให้บริการดูแลและรับฝากสัตว์เลี้ยงแสนรักของคุณ มีห้องหลายขนาด ห้อง VVIP
        สไตล์โมเดิร์นรองรับน้องหมาสายพันธุ์ขนาดใหญ่คุณสามารถเข้าพักกับสัตว์เลี้ยงได้ตลอด 24 ชม.
      </p></v-sheet
    >
  </v-container>
</template>

<style>
.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-end {
  justify-content: flex-end;
}

.bar-height {
  height: 100px;
}

.font-size {
  font-size: 30px;
  margin-right: 100px;
  margin-top: 25px;
}
.center {
  padding: 16px;
  text-align: center;
  margin: auto;
  margin-top: 375px;
}
</style>
