<script setup lang="ts">
import type booking from '@/services/booking'
import { useBookingStore } from '@/stores/booking'
import { usePaymentStore } from '@/stores/payment'

const paymentStore = usePaymentStore()
const bookingStore = useBookingStore()
</script>

<template>
  <v-row class="d-flex justify-center">
    <v-stepper
      alt-labels
      v-model="paymentStore.stepPayments[2]"
      width="600"
      class="no-shadow mt-16"
    >
      <v-stepper-header>
        <v-stepper-item value="1" title="รอชำระเงิน" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-clock-fast"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider></v-divider>

        <v-stepper-item value="2" title="ตรวจสอบการชำระเงิน" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-bank-check"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider></v-divider>

        <v-stepper-item value="3" title="ชำระเงินสำเร็จ" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-check-circle-outline"></v-icon>
          </template>
        </v-stepper-item>
      </v-stepper-header>
    </v-stepper>
  </v-row>

  <h1 class="padding">ชำระเงินสำเร็จ <v-icon icon="mdi-check-circle-outline"></v-icon></h1>

  <v-card style="margin-top: 30px" class="mx-auto no-shadow center" width="300" height="300"
    ><v-img src="../../public/picture/thankyou.png"></v-img
  ></v-card>
  <div class="margin" style="display: flex; justify-content: center">
    <div class="margin">
      <v-btn
        to="/bathroom"
        class="weight-height"
        size="large"
        rounded="xl"
        style="font-weight: bold; background-color: #e5c4f4"
        @click="bookingStore.clearBooking()"
        >ซื้อบริการเพิ่มเติม</v-btn
      >
      <span style="margin-right: 50px"></span>
      <!-- กำหนดช่องว่างด้านขวา -->
      <v-btn
        to="/Booking"
        class="weight-height"
        size="large"
        rounded="xl"
        style="font-weight: bold; background-color: #e5c4f4"
        @click="bookingStore.clearBooking()"
        >ดูรายละเอียดการจอง</v-btn
      >
    </div>
  </div>
</template>

<style scoped>
.no-shadow {
  box-shadow: none !important;
}
.padding {
  padding: 30px;
  text-align: center;
}
.margin {
  margin: auto;
  margin-top: 50px;
}
</style>
