<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { usePaymentStore } from '@/stores/payment'
import { useBookingStore } from '@/stores/booking'

const paymentStore = usePaymentStore()
const bookingStore = useBookingStore()

onMounted(() => {
  bookingStore.bgBooking.bgbDepPayStatus = 'รอชำระเงิน'
})
</script>

<template>
  <v-row class="d-flex justify-center">
    <v-stepper
      alt-labels
      v-model="paymentStore.stepPayments[0]"
      width="600"
      class="no-shadow mt-16"
    >
      <v-stepper-header>
        <v-stepper-item value="1" title="รอชำระเงิน" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-clock-fast"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider></v-divider>

        <v-stepper-item
          value="2"
          title="ตรวจสอบการชำระเงิน"
          color="#AE47DF"
          style="white-space: nowrap"
        >
          <template #icon>
            <v-icon size="15" icon="mdi-bank-check"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider></v-divider>

        <v-stepper-item value="3" title="ชำระเงินสำเร็จ" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-check-circle-outline"></v-icon>
          </template>
        </v-stepper-item>
      </v-stepper-header>
    </v-stepper>
  </v-row>

  <h1 style="font-size: 160%" class="d-flex justify-center mt-16">เลือกวิธีชำระเงิน</h1>
  <v-container class="d-flex justify-center">
    <v-btn
      @click="bookingStore.bgBooking.bgbDepPayMethod = 'Credit Card'"
      style="border-radius: 0rem"
      height="200"
      width="200"
      class="mr-16 mt-13 no-shadow"
      :class="{ 'btn-active': bookingStore.selectedDMethod === 'Credit Card' }"
    >
      <v-card
        to="/credit"
        style="border-radius: 0rem"
        class="mx-auto no-shadow"
        width="200"
        height="200"
        ><v-img src="../../public/picture/credit.png"
      /></v-card>
    </v-btn>

    <h4 class="text-credit" style="font-size: 20px">
      <span style="font-size: 20px">Credit Card</span>
    </h4>
    <v-btn
      @click="bookingStore.bgBooking.bgbDepPayMethod = 'Qr Code'"
      style="border-radius: 0rem"
      height="200"
      width="200"
      class="ml-16 mt-13 no-shadow"
      :class="{ 'btn-active': bookingStore.selectedDMethod === 'Qr Code' }"
    >
      <v-card
        style="border-radius: 0rem"
        to="/qrcode"
        class="mx-auto no-shadow"
        width="200"
        height="200"
        ><v-img src="../../public/picture/qr.png"
      /></v-card>
    </v-btn>
    <h4 class="text-qr" style="font-size: 20px">
      <span style="font-size: 20px">Qr Code</span>
    </h4>
  </v-container>
</template>
<style scoped>
.no-shadow {
  box-shadow: none !important;
}
.text-credit {
  position: absolute;
  top: 650px; /* ปรับตำแหน่งตามที่ต้องการ */
  left: 735px; /* ปรับตำแหน่งตามที่ต้องการ */
}
.text-qr {
  position: absolute;
  top: 650px; /* ปรับตำแหน่งตามที่ต้องการ */
  left: 1077px; /* ปรับตำแหน่งตามที่ต้องการ */
}
</style>
