<script setup lang="ts">
import { useBookingStore } from '@/stores/booking'
import { usePaymentStore } from '@/stores/payment'
import { onMounted } from 'vue'

const paymentStore = usePaymentStore()
const bookingStore = useBookingStore()
onMounted(() => {
  bookingStore.bgBooking.bgbDepPayStatus = 'ชำระแล้ว'
})
</script>

<template>
  <v-row class="d-flex justify-center">
    <v-stepper
      alt-labels
      v-model="paymentStore.stepPayments[1]"
      width="600"
      class="no-shadow mt-16"
    >
      <v-stepper-header>
        <v-stepper-item value="1" title="รอชำระเงิน" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-clock-fast"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider></v-divider>

        <v-stepper-item
          value="2"
          title="ตรวจสอบการชำระเงิน"
          color="#AE47DF"
          style="white-space: nowrap"
        >
          <template #icon>
            <v-icon size="15" icon="mdi-bank-check"></v-icon>
          </template>
        </v-stepper-item>

        <v-divider></v-divider>

        <v-stepper-item value="3" title="ชำระเงินสำเร็จ" color="#AE47DF">
          <template #icon>
            <v-icon size="15" icon="mdi-check-circle-outline"></v-icon>
          </template>
        </v-stepper-item>
      </v-stepper-header>
    </v-stepper>
  </v-row>

  <v-card
    elevation="20"
    width="631px"
    height="648.86px"
    class="mx-auto ma-16 pa-5 text-center font-size"
    style="border-radius: 20px; font-weight: bold"
  >
    ใบชำระเงิน
    <v-card class="mx-auto no-shadow center" width="250" height="250"
      ><v-img src="../../public/picture/realqr.png"
    /></v-card>
    <div class="margin">
      <div class="margin">
        <v-btn
          to="/paymentSuccess"
          class="weight-height"
          size="large"
          rounded="xl"
          @click="bookingStore.addBooking()"
          style="font-weight: bold; background-color: #a8ff99; margin-top: 4rem"
          >ตรวจสอบการชำระ</v-btn
        >
      </div>
    </div>
  </v-card>
</template>

<style scoped>
.no-shadow {
  box-shadow: none !important;
}
.font-size {
  font-size: 25px;
}
.center {
  margin: auto;
  margin-top: 120px;
}
.padding {
  padding-left: 20px;
}
.margin {
  margin: auto;
  margin-top: 75px;
}
.weight-height {
  max-width: 1000px;
  width: 200px;
  max-height: 1000px;
  height: 50px;
}
</style>
