<script setup lang="ts"></script>

<template>
  <v-container class="adjust">
    <v-row>
      <v-col col="12" md="4">
        <h1>ไต่ราว</h1>
        <v-card
          class="mt-4 no1-shadow"
          width="500"
          height="300"
          image="https://cdn.discordapp.com/attachments/1178721605145337987/1208469256786939904/image.png?ex=65e365b3&is=65d0f0b3&hm=bbc86272790b757be744bb8813a69edadf4db1854790d21ef89b9b806cae4137&"
        ></v-card>

        <v-btn class="mt-10 no1-shadow" width="5" height="56">
          <v-card
            class="no1-shadow"
            width="44"
            height="56"
            image="https://cdn.discordapp.com/attachments/1178721605145337987/1208650937833496626/image.png?ex=65e40ee7&is=65d199e7&hm=75ef72f95ec41d08fb7fb4347bb04a10fc9680dad96cd3278c927ab78731c71e&"
          >
          </v-card>

          <h2 class="price-text" style="font-size: 27px">
            <span style="color: red; font-size: 27px">8,000</span> บาท
          </h2>
        </v-btn>
      </v-col>
      <v-col col="12" md="4">
        <v-card class="mt-16 no1-shadow cor" width="280" height="300">
          <h4 class="text" style="font-size: 20px; margin-bottom: 10px">
            <span style="font-size: 20px">สำหรับแมว</span>
          </h4>
          <h4 class="adjust1" style="font-size: 18px">
            <span>คอร์สนี้เป็นคอร์สที่สอนพื้นฐานเบื้องต้นให้สัตว์เลี้ยงของคุณสามารถไต่ราวได้</span>
          </h4>
          <h4 class="adjust2" style="font-size: 18px"><span>15/15 ครั้ง</span></h4>
        </v-card>
      </v-col>
      <v-col col="12" md="4">
        <v-card class="mt-16 no1-shadow cor" width="500" height="300">
          <h4 class="text-pet" style="font-size: 20px">
            <span style="font-size: 20px">สัตว์เลี้ยง</span>
            <v-spacer></v-spacer>
          </h4>

          <!-- <v-btn
                @click="petStore.openAddPet"
                class="ml-5 mt-16"
                :height="150"
                :width="350"
                rounded="lg"
                color="#D9D9D9"
                link
              >
                <v-card v-if="petStore.selectedPet" :height="150" :width="350" rounded="lg">
                  <v-row>
                    <v-col cols="6">
                      <v-container>
                        <v-img
                          cover
                          :height="120"
                          :src="`${backendURL}/pets/image/${petStore.imageSelectedPet}`"
                          style="object-fit: contain; border-radius: 10%"
                        ></v-img>
                      </v-container>
                    </v-col>
                    <v-col cols="6">
                      <v-container>
                        <p class="font-pet">ชื่อ : {{ petStore.selectedPet.petName }}</p>
                        <p class="font-pet">ประเภท : {{ petStore.selectedPet.petType }}</p>
                      </v-container>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card v-else :height="150" :width="350" rounded="lg" color="#D9D9D9">
                  <h1 style="text-align: center; margin-top: 1.8rem; font-size: 60px">+</h1>
                </v-card>
              </v-btn> -->
        </v-card>
      </v-col>
    </v-row>
    <v-btn
      class="no1-shadow ab ml-15"
      size="large"
      rounded="xl"
      width="150"
      style="่justify-self: unset; font-weight: bold; font-size: 120%; background-color: #d5a9f6"
      >เพิ่มใส่ตะกร้า</v-btn
    >
    <v-btn
      class="no1-shadow btn ml-15"
      size="large"
      rounded="xl"
      width="150"
      style="่justify-self: unset; font-weight: bold; font-size: 120%; background-color: #a8ff99"
      >ซื้อ</v-btn
    >

    <add-pet></add-pet>
  </v-container>
</template>

<style scoped>
.no1-shadow {
  box-shadow: none !important;
}
.ab {
  position: absolute;
  top: 850px;
  left: 1300px;
}
.btn {
  position: absolute;
  top: 850px;
  left: 1500px;
}
.price-text {
  position: absolute;
  top: 10px; /* ปรับตำแหน่งตามที่ต้องการ */
  left: 360px; /* ปรับตำแหน่งตามที่ต้องการ */
}
.cor {
  background-color: rgb(255, 255, 255);
}
.text {
  position: absolute;
  top: 5px; /* ปรับตำแหน่งตามที่ต้องการ */
  left: 2px; /* ปรับตำแหน่งตามที่ต้องการ */
}

.font-pet {
  font-size: 20px;
  color: black;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}
.adjust {
  margin-left: 120px;
  margin-top: 130px;
}
.adjust1 {
  margin-top: 100px;
}
.adjust2 {
  margin-top: 123px;
}
.text-pet {
  position: absolute;
  top: 5px; /* ปรับตำแหน่งตามที่ต้องการ */
  left: 20px; /* ปรับตำแหน่งตามที่ต้องการ */
}
</style>
