<script setup lang="ts">
import router from '@/router'
import { ref } from 'vue'
const showpass = ref(false)
const username = ref('')
const password = ref('')
const email = ref('')
const name = ref('')
const surname = ref('')
const phone = ref('')
</script>
<template>
  <h1 class="ml-6">Pet<span style="color: #ae47df">Care</span></h1>
  <v-container class="my-container h-screen" fluid full-height>
    <v-card
      elevation="20"
      width="631px"
      height="648.86px"
      class="mx-auto ma-16 pa-5"
      style="border-radius: 20px"
    >
      <h2
        class="text-center"
        style="font-weight: bolder; font-family: Noto Sans Thai; color: #000000"
      >
        สมัครสมาชิก
      </h2>
      <v-card-text class="pa-3">
        <v-form ref="form">
          <v-row>
            <v-col cols="2" sm="12">
              <v-text-field
                class="mt-0"
                label="Username"
                v-model="username"
                variant="outlined"
                :rules="[
                  (v) => !!v || 'Username  is required',
                  (v) => v.length >= 5 || 'Username must be more than or equal 5 characters'
                ]"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="2" sm="12">
              <v-text-field
                class="mt-0"
                label="Password"
                :append-inner-icon="showpass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showpass ? 'text' : 'password'"
                v-model="password"
                @click:append-inner="showpass = !showpass"
                variant="outlined"
                :rules="[
                  (v) => !!v || 'Password is required',
                  (v) => v.length >= 8 || 'Password must be more than or equal 8 characters'
                ]"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="2" sm="12">
              <v-text-field
                class="mt-0"
                label="Email"
                v-model="email"
                variant="outlined"
                :rules="[
                  (v) => !!v || 'Email  is required',
                  (v) => v.length >= 8 || 'Email must be more than or equal 8 characters'
                ]"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6">
              <v-text-field
                class="mt-0"
                label="Name"
                v-model="name"
                variant="outlined"
                :rules="[
                  (v) => !!v || 'Name  is required',
                  (v) => v.length >= 6 || 'Email must be more than or equal 6 characters'
                ]"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6">
              <v-text-field
                class="mt-0"
                label="Surname"
                v-model="surname"
                variant="outlined"
                :rules="[
                  (v) => !!v || 'surname  is required',
                  (v) => v.length >= 6 || 'surname must be more than or equal 6 characters'
                ]"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="2" sm="12">
              <v-text-field
                class="mt-0"
                label="Phone"
                v-model="phone"
                variant="outlined"
                :rules="[
                  (v) => !!v || 'Phone  is required',
                  (v) => v.length >= 10 || 'Phone must be more than or equal 10 characters'
                ]"
                required
              ></v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
          style="background-color: #ffe500; width: 100%"
          block
          rounded="xl"
          size="x-large"
          @click="router.push('/success')"
          >สมัครสมาชิก</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<style />
