<script setup lang="ts"></script>
<template>
  <h1 class="ml-6">Pet<span style="color: #ae47df">Care</span></h1>
  <v-container class="my-container h-screen" fluid full-height>
    <h1 class="Success">
      สมัครสมาชิก สำเร็จ <v-icon icon="mdi-check-circle" color="#4BD37B"></v-icon>
    </h1>
    <v-row class="margin">
      <v-col class="text-center">
        <v-btn
          style="background-color: #a8ff99"
          rounded="xl"
          size="large"
          width="200px"
          to="/login"
        >
          ตกลง</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>
<style>
.Success {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
}
.margin {
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
</style>
