<script setup lang="ts">
import router from '@/router'
import { useAuthStore } from '@/stores/auth'
import { onMounted } from 'vue'
const backendURL = 'http://localhost:3000'
const currentpath = router.currentRoute.value.fullPath
onMounted(() => {
  console.log(currentpath)
})
const authStore = useAuthStore()
const items = [
  { title: 'จัดการข้อมูลผู้ใช้', path: '/manage_user', icon: 'mdi-account-cog-outline' },
  { title: 'ออกจากระบบ', path: '/login', icon: 'mdi-logout' }
]
function logImageURL() {
  const imageURL = `${backendURL}/users/image/${authStore.getCurrentUser()?.pic}`
  console.log('Image URL:', imageURL)
  console.log(localStorage.getItem('userData'))
}
</script>
<template>
  <v-app-bar color="#FFFF" :height="100">
    <v-toolbar-title @Click="router.push('/')" style="cursor: pointer">
      <h2>Pet<span style="color: #ae47df">Care</span></h2></v-toolbar-title
    >
    <v-spacer></v-spacer>
    <v-btn
      class="size mr-12"
      variant="plain"
      :color="router.currentRoute.value.fullPath === '/employeecourse' ? '#AE47DF' : '#000'"
      to="/employeecourse"
      >คอร์สเรียน</v-btn
    >
    <v-btn
      class="size mr-12"
      variant="plain"
      :color="router.currentRoute.value.fullPath === '/employeebathroom' ? '#AE47DF' : '#000'"
      to="/employeebathroom"
      >อาบน้ำตัดขน</v-btn
    >
    <v-btn
      class="size mr-12"
      variant="plain"
      :color="router.currentRoute.value.fullPath === '/employeehotelpet' ? '#AE47DF' : '#000'"
      to="/employeehotelpet"
      >ฝากเลี้ยง</v-btn
    >
    <v-btn
      class="size mr-12"
      variant="plain"
      :color="router.currentRoute.value.fullPath === '/customerlist' ? '#AE47DF' : '#000'"
      to="/customerlist"
      >ลูกค้า</v-btn
    >
    <v-menu>
      <template v-slot:activator="{ props }">
        <v-btn icon="mdi-account" v-bind="props" @click="logImageURL">
          <v-avatar>
            <img
              class="avatar-img"
              :src="`${backendURL}/users/image/${authStore.getCurrentUser()?.pic}`"
            />
          </v-avatar>
        </v-btn>
      </template>
      <v-list class="justify-center" style="background-color: #787878; color: floralwhite">
        <v-btn style="width: 100%" prepend-icon="mdi-account" variant="plain" :rounded="0">{{
          authStore.getCurrentUser()?.username
        }}</v-btn>
        <v-list-item v-for="(item, i) in items" :key="i">
          <v-list-item-title
            ><v-btn
              style="width: 100%"
              variant="plain"
              :prepend-icon="item.icon"
              :rounded="0"
              :to="item.path"
              >{{ item.title }}</v-btn
            ></v-list-item-title
          >
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>
<style scoped>
.size {
  font-size: 23px;
}

.avatar-img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}
</style>
