<script setup lang="ts">
import router from '@/router'
import { useAuthStore } from '@/stores/auth'
import { useBookingStore } from '@/stores/booking'
import { useMessageStore } from '@/stores/message'
import { usePetStore } from '@/stores/pet'
import { computed, onMounted } from 'vue'
const backendURL = 'http://localhost:3000'
const currentpath = router.currentRoute.value.fullPath
onMounted(() => {
  console.log(currentpath)
})

const authStore = useAuthStore()
const messageStore = useMessageStore()
const bookingStore = useBookingStore()
const petStore = usePetStore()

function checkLogin(path: string) {
  console.log('see user:', authStore.getCurrentCustomer())
  const currentUser = authStore.getCurrentCustomer()
  if (!currentUser) {
    messageStore.showError('กรุณาล็อกอินก่อนทำรายการใดๆ')
    router.push('/login')
  } else {
    if (path === '/bathroom') {
      bookingStore.clearBooking()
      petStore.selectedPet = null
    }
    router.push(path)
  }
}

const customerImageURL = computed(() => {
  const customerPic = authStore.getCurrentCustomer()?.pic
  return customerPic
    ? `${backendURL}/customers/image/${customerPic}`
    : `../../../public/picture/undifined.png`
})
console.log('Customer image URL:', customerImageURL)

function logImageURL() {
  const imageURL = `${backendURL}/customers/image/${authStore.getCurrentCustomer()?.pic}`
  console.log('Image URL:', imageURL)
  console.log(localStorage.getItem('customerData'))
}

function logoutHandler() {
  authStore.logout()
  router.push('/login')
}

const items = [
  { title: 'จัดการข้อมูลผู้ใช้', path: '/manage_customer', icon: 'mdi-account-cog-outline' },
  { title: 'ตะกร้า', path: '/cart', icon: 'mdi-cart-outline' },
  { title: 'การจอง', path: '/booking', icon: 'mdi-clock-outline' },
  { title: 'ออกจากระบบ', path: '/login', icon: 'mdi-logout' }
]
</script>
<template>
  <v-app-bar color="#FFFF" :height="100">
    <v-toolbar-title @Click="router.push('/')" style="cursor: pointer">
      <h2>Pet<span style="color: #ae47df">Care</span></h2></v-toolbar-title
    >
    <v-spacer></v-spacer>
    <v-btn
      class="size mr-12"
      variant="plain"
      :color="router.currentRoute.value.fullPath === '/bathroom' ? '#AE47DF' : '#000'"
      @click="checkLogin('/bathroom')"
      >อาบน้ำตัดขน</v-btn
    >
    <v-btn
      class="size mr-12"
      variant="plain"
      :color="router.currentRoute.value.fullPath === '/farkliang' ? '#AE47DF' : '#000'"
      @click="checkLogin('/farkliang')"
      >ฝากเลี้ยง</v-btn
    >
    <v-btn
      class="size mr-12"
      variant="plain"
      :color="router.currentRoute.value.fullPath === '/Buycourse' ? '#AE47DF' : '#000'"
      @click="checkLogin('/Buycourse')"
      >ซื้อคอร์ส</v-btn
    >
    <v-btn
      class="size mr-12"
      variant="plain"
      :color="router.currentRoute.value.fullPath === '/Coursetime' ? '#AE47DF' : '#000'"
      @click="checkLogin('/Coursetime')"
      >จองเวลาเรียน</v-btn
    >
    <v-menu>
      <template v-slot:activator="{ props }">
        <v-btn icon="mdi-account" v-bind="props" @Click="logImageURL">
          <v-avatar>
            <img class="avatar-img" :src="customerImageURL" />
          </v-avatar>
        </v-btn>
      </template>

      <v-list class="justify-center" style="background-color: #787878; color: floralwhite">
        <v-btn style="width: 100%" prepend-icon="mdi-account" variant="plain" :rounded="0">{{
          authStore.getCurrentCustomer()?.username
        }}</v-btn>
        <v-list-item v-for="(item, i) in items" :key="i">
          <v-list-item-title>
            <v-btn
              style="width: 100%"
              variant="plain"
              :prepend-icon="item.icon"
              :rounded="0"
              @click="checkLogin(item.path)"
              v-if="item.path !== '/login'"
              >{{ item.title }}</v-btn
            >
            <v-btn
              style="width: 100%"
              variant="plain"
              prepend-icon="mdi-logout"
              :rounded="0"
              @click="logoutHandler"
              v-else
              >{{ item.title }}</v-btn
            >
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>
<style scoped>
.size {
  font-size: 23px;
}
.avatar-img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}
</style>
