<script setup lang="ts">
import { usePetStore } from '@/stores/pet'
import type Pet from '@/types/Pet'
import { computed, onMounted, ref } from 'vue'
const backendURL = 'http://localhost:3000'

const petStore = usePetStore()
const selectPet = (pet: Pet) => {
  petStore.selectPet(pet)
}

onMounted(async () => {
  await petStore.getPets()
})

const petName = ref<string>()
const petType = ref<string>()
const petBirthday = ref<string | null>(null)
const petBread = ref<string>()

const sunmitForm = () => {
  if (petName.value !== null && petType.value!.length >= 3) {
    console.log(petBirthday.value)
    clearForm()
  }
}
const clearForm = () => {
  petStore.showAddDataPet = false
  petName.value = undefined
  petType.value = undefined
  petBirthday.value = null
  petBread.value = undefined
}

const fileInput = ref()

const openFileInput = () => {
  fileInput.value.click() // เรียกใช้เมธอด click ของ input element เพื่อเปิด file dialog
}

const handleFileChange = () => {
  const file = fileInput.value?.files[0] // เข้าถึงไฟล์ที่ถูกเลือก (จะมีค่าเป็น null หาก fileInput มีค่าเป็น null)
  if (file) {
    fileInput.value = file // เก็บไฟล์ที่ถูกเลือกในตัวแปร ref
  }
  console.log(fileInput.value)
}

const formattedAge = computed(() => {
  if (petBirthday.value) {
    const birthDate = new Date(petBirthday.value)
    const currentDate = new Date()

    const ageInMilliseconds = currentDate.getTime() - birthDate.getTime()
    const ageInYears = ageInMilliseconds / (365 * 24 * 60 * 60 * 1000)

    const years = Math.floor(ageInYears)
    const months = Math.floor((ageInYears % 1) * 12)
    const days = Math.floor((ageInYears % (1 / 12)) * 365)

    return `${years} ปี ${months} เดือน ${days} วัน`
  } else {
    return 'กรุณาเลือกวันเกิดสัตว์เลี้ยง'
  }
})
</script>

<template>
  <v-dialog v-model="petStore.showAddPet" persistent class="larger-card">
    <v-card class="larger-card">
      <v-card-actions>
        <v-row style="padding-top: 60px; padding-left: 10px">
          <v-col cols="4" fluid v-for="item of petStore.pets" :key="item.petId">
            <v-btn @click="selectPet(item)" :height="150" :width="400" rounded="lg">
              <v-card :height="150" :width="400" rounded="lg">
                <v-row>
                  <v-col cols="6">
                    <v-container style="margin: 2px">
                      <v-img
                        cover
                        :height="120"
                        :src="`${backendURL}/pets/image/${item.petPicture}`"
                        style="object-fit: contain; border-radius: 10%"
                      ></v-img>
                    </v-container>
                  </v-col>
                  <v-col cols="6">
                    <v-container style="margin: 2px">
                      <p class="font-pet">ชื่อ : {{ item.petName }}</p>
                      <p class="font-pet">ประเภท : {{ item.petType }}</p>
                    </v-container>
                  </v-col>
                </v-row>
              </v-card>
            </v-btn>
          </v-col>
          <v-col>
            <v-btn
              @click="petStore.addPetDialog"
              :height="150"
              :width="400"
              rounded="lg"
              color="#D9D9D9"
              link
            >
              <v-card :height="150" :width="400" rounded="lg" color="#D9D9D9">
                <h1 style="text-align: center; font-size: 60px">+</h1>
              </v-card>
            </v-btn>
          </v-col>
        </v-row>

        <v-btn icon @click="petStore.showAddPet = false" class="close-icon">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>

      <v-spacer></v-spacer>
    </v-card>
  </v-dialog>

  <v-dialog v-model="petStore.showAddDataPet" persistent class="larger-card">
    <v-card class="larger-card">
      <v-container>
        <v-row justify="center"> <h2 class="pet-data-title">กรอกข้อมูลสัตว์เลี้ยง</h2></v-row>
        <v-container>
          <v-row>
            <v-col cols="4" class="pa-15 mt-15">
              <div>
                <v-card
                  :height="300"
                  :width="200"
                  rounded="lg"
                  color="#D9D9D9"
                  class="custom-button"
                  @click="openFileInput"
                >
                  <h1 style="text-align: center; margin-top: 7.5rem; font-size: 20px">
                    กดเพื่อเพิ่มรูปภาพสัตว์เลี้ยง
                  </h1>
                  {{ fileInput }}
                  <input
                    type="file"
                    id="avatar"
                    name="avatar"
                    accept="image/png, image/jpeg"
                    ref="fileInput"
                    style="display: none"
                    @change="handleFileChange"
                  />
                </v-card>
              </div>
            </v-col>
            <v-col cols="8">
              <v-row>
                <v-col cols="2" class="mt-5">
                  <v-list-subheader>ประเภทสัตว์เลี้ยง : </v-list-subheader>
                </v-col>

                <v-col cols="5">
                  <v-text-field
                    v-model="petType"
                    variant="outlined"
                    :rules="[
                      (v) => !!v || 'Pet\'s Type is required',
                      (v) => v.length >= 3 || 'Pet\'s Type must be more than or equal 3 characters'
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="mt-5">
                  <v-list-subheader>ชื่อสัตว์เลี้ยง : </v-list-subheader>
                </v-col>

                <v-col cols="5">
                  <v-text-field
                    v-model="petName"
                    variant="outlined"
                    :rules="[
                      (v) => !!v || 'Pet\'s Name is required',
                      (v) => v.length >= 1 || 'Pet\'s Name must be more than or equal 1 characters'
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="mt-5">
                  <v-list-subheader>วันเกิดสัตว์เลี้ยง : </v-list-subheader>
                </v-col>

                <v-col cols="5">
                  <v-text-field type="date" variant="outlined" v-model="petBirthday">
                  </v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="mt-5">
                  <v-list-subheader>อายุสัตว์เลี้ยง : </v-list-subheader>
                </v-col>

                <v-col cols="5" style="margin-top: 30px">{{ formattedAge }}</v-col>
              </v-row>
              <v-row>
                <v-col cols="2" class="mt-5">
                  <v-list-subheader>พันธุ์สัตว์เลี้ยง : </v-list-subheader>
                </v-col>

                <v-col cols="5">
                  <v-text-field variant="outlined" v-model="petBread"></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row class="align-center justify-center">
            <v-col cols="8" sm="2" md="2">
              <v-btn
                block
                rounded="xl"
                width="100%"
                size="large"
                style="font-size: 25px"
                color="#E59090"
                @click="clearForm"
                >ยกเลิก</v-btn
              >
            </v-col>
            <v-col cols="8" sm="2" md="2">
              <v-btn
                block
                rounded="xl"
                width="100%"
                size="large"
                style="font-size: 25px"
                color="#a8ff99"
                @click="sunmitForm"
                >ยืนยัน</v-btn
              >
            </v-col>
          </v-row>
        </v-container>
      </v-container>
      <v-card-actions>
        <v-btn icon @click="clearForm" class="close-icon">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.larger-card {
  max-width: 1355px;
  height: 770px; /* Adjust as needed */
}

.pet-data-title {
  margin-top: 2rem;
  padding: 10px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fixed-button {
  position: fixed;
  bottom: 20px; /* กำหนดระยะห่างของปุ่มจากด้านล่าง */
  right: 20px; /* กำหนดระยะห่างของปุ่มจากด้านขวา */
  z-index: 999; /* กำหนดความสูงให้ปุ่มอยู่ด้านบนสุด */
}
.font-pet {
  margin: 20px;
  font-size: 20px;
  color: black;
  text-align: start;
}

.custom-button {
  cursor: pointer; /* ให้เป็นรูปแบบของปุ่ม */
}

.custom-button:hover {
  background-color: #a8dadc; /* เปลี่ยนสีพื้นหลังเมื่อเม้าส์ไปวาง */
}
</style>
