<script setup lang="ts">
import { useRoomStore } from '@/stores/room'
import { watch } from 'vue'
import { computed, ref, onMounted } from 'vue'

const roomStore = useRoomStore()
const selectedRoomId = ref<number>(1)
const selectedCage = ref<number>()

const roomIds = computed(() => roomStore.room.map((room) => room.roomId))

onMounted(() => {
  roomStore.getRoom()
  roomStore.getCageById(selectedRoomId.value!)
})

watch(selectedRoomId, () => {
  roomStore.getCageById(selectedRoomId.value!)
})

const chooseCage = (cageId: number) => {
  selectedCage.value = cageId
}

const clearChoosed = () => {
  selectedRoomId.value = 1
  selectedCage.value = undefined
}

const createCageOrder = () => {
  roomStore.showRoomCage = false
  clearChoosed()
}
</script>
<template>
  <v-dialog v-model="roomStore.showRoomCage" persistent class="larger-card">
    <v-card style="height: 750px">
      <v-container>
        <v-row cols="12" class="d-flex justify-center mt-5"><h2>การจัดการห้องพัก</h2></v-row>
        <v-row>
          <v-col cols="12" md="6" class="mt-5">
            <h4><span>ห้องพักสัตว์เลี้ยง:</span></h4>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6">
            <v-select
              class="margin-select"
              :items="roomIds"
              v-model="selectedRoomId"
              variant="outlined"
            ></v-select>
          </v-col>
        </v-row>
        <v-row
          ><v-container class="margin-room">
            <v-row align="center" justify="center">
              <v-col v-for="item of roomStore.cage" :key="item.roomId" col="12 " md="3">
                <v-btn
                  class="no-shadow"
                  icon="mdi-home-outline"
                  size="large"
                  :disabled="item.cageStatus === 'ไม่ว่าง'"
                  @click="chooseCage(item.cageId!)"
                  :style="{
                    backgroundColor: selectedCage === item.cageId ? '#ae47df' : '#0000'
                  }"
                ></v-btn>
                <v-spacer></v-spacer>
                <span class="ml-3">{{ 'R' + selectedRoomId + '-' + item.cageId }}</span>
              </v-col>
            </v-row>
          </v-container></v-row
        ><v-row
          ><h4 class="margin-t d-flex justify-center">
            <span>ห้องที่ {{ selectedRoomId }}</span>
          </h4></v-row
        ><v-row
          ><v-btn
            class="margin"
            width="100px"
            style="font-size: 15px; border-radius: 50px; background-color: #a8ff99"
            @click="createCageOrder"
            >ยืนยัน</v-btn
          ></v-row
        >
      </v-container>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.larger-card {
  max-width: 1355px;
  height: 750px; /* Adjust as needed */
}
.margin {
  position: absolute;
  top: 640px;
  left: 1100px;
}
.margin-text {
  margin-left: 50px;
}
.margin-select {
  /* margin-left: 200px;
  margin-bottom: 500px; */
  width: 150px;
}
.margin-room {
  position: absolute;
  top: 230px;
  left: 130px;
}
.no-shadow {
  box-shadow: none !important;
}
.margin-t {
  position: absolute;
  top: 595px;
  left: 635px;
}
.webkit-scrollbar {
  display: none;
}
</style>
