<script setup lang="ts">
import { usePetStore } from '@/stores/pet'

const petStore = usePetStore()
</script>

<template>
  <v-dialog v-model="petStore.showServicePrice" class="larger-card">
    <v-toolbar color="#FFFF"
      ><v-btn icon @click="petStore.showServicePrice = false" class="close-icon">
        <v-icon>mdi-close</v-icon>
      </v-btn></v-toolbar
    >
    <v-card class="larger-card" style="padding: 6px">
      <v-row
        ><v-col><h1 class="d-flex justify-center">แมว</h1></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >น้ำหนัก</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >อาบน้ำ</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >ลงครีมนวด</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >แปรงฟัน</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >หมักแชมพู</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >นวดตัว</v-chip
          ></v-col
        ></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">น้อยกว่า 2 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">250</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">100</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">2-3 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">270</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">100</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">3.1-5 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">300</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">75</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">75</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">120</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">5.1-8 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">350</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">85</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">85</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">150</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">มากกว่า 8 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">400</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">100</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">100</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">180</v-chip></v-col></v-row
      >
      <v-row
        ><v-col><h1 class="d-flex justify-center">สุนัข</h1></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >น้ำหนัก</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >อาบน้ำ</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >ลงครีมนวด</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >แปรงฟัน</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >หมักแชมพู</v-chip
          ></v-col
        ><v-col cols="2"
          ><v-chip
            class="d-flex justify-center"
            variant="outlined"
            style="background-color: #deb0ea"
            >นวดตัว</v-chip
          ></v-col
        ></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">น้อยกว่า 3 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">250</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">100</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">3-5 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">300</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">100</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">5.1-10 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">350</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">75</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">75</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">100</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">10.1-15 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">400</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">85</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">85</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">150</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">15.1-20 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">500</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">100</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">100</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">150</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">20.1-30 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">600</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">150</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">150</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">150</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">30.1-40 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">750</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">200</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">200</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">200</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">40.1-50 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">850</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">250</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">250</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">220</v-chip></v-col></v-row
      >
      <v-row
        ><v-col cols="2"
          ><v-chip class="d-flex justify-center" variant="elevated">มากกว่า 50 กก.</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">1,000</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">300</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">50</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">300</v-chip></v-col
        ><v-col cols="2"><v-chip class="d-flex justify-center">250</v-chip></v-col></v-row
      >
    </v-card>
  </v-dialog>
</template>
<style scoped>
.larger-card {
  max-width: 1400px;
  height: 770px; /* Adjust as needed */
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
