<script setup lang="ts">
import { usePetStore } from '@/stores/pet'
import type Pet from '@/types/Pet'
import { computed, onMounted, ref } from 'vue'
const backendURL = 'http://localhost:3000'

const petStore = usePetStore()
const selectPet = (pet: Pet) => {
  petStore.selectPet(pet)
}

onMounted(async () => {
  await petStore.getPets()
})
</script>

<template>
  <v-dialog v-model="petStore.showAddPet" persistent class="larger-card">
    <v-card class="larger-card">
      <v-card-actions v-if="petStore.pets.length > 0">
        <v-row style="padding-top: 60px; padding-left: 10px">
          <v-col cols="4" fluid v-for="item of petStore.pets" :key="item.petId">
            <v-btn @click="selectPet(item)" :height="150" :width="400" rounded="lg">
              <v-card :height="150" :width="400" rounded="lg">
                <v-row>
                  <v-col cols="6">
                    <v-container style="margin: 2px">
                      <v-img
                        cover
                        :height="120"
                        :src="`${backendURL}/pets/image/${item.petPicture}`"
                        style="object-fit: contain; border-radius: 10%"
                      ></v-img>
                    </v-container>
                  </v-col>
                  <v-col cols="6">
                    <v-container style="margin: 2px">
                      <p class="font-pet">ชื่อ : {{ item.petName }}</p>
                      <p class="font-pet">ประเภท : {{ item.petType }}</p>
                    </v-container>
                  </v-col>
                </v-row>
              </v-card>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>

      <v-card-actions v-else>
        <p class="font-pet">กรุณาเพิ่มสัตว์เลี้ยงก่อนใช้บริการ</p>
      </v-card-actions>

      <v-spacer></v-spacer>
      <v-btn icon @click="petStore.showAddPet = false" class="close-icon">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-btn
        v-if="petStore.pets.length === 0"
        @click="$router.push('/manage_customer')"
        class="navigate-button"
        color="primary"
      >
        ไปหน้า "จัดการข้อมูลผู้ใช้"
      </v-btn>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.larger-card {
  max-width: 1355px;
  height: 770px; /* Adjust as needed */
}

.pet-data-title {
  margin-top: 2rem;
  padding: 10px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fixed-button {
  position: fixed;
  bottom: 20px; /* กำหนดระยะห่างของปุ่มจากด้านล่าง */
  right: 20px; /* กำหนดระยะห่างของปุ่มจากด้านขวา */
  z-index: 999; /* กำหนดความสูงให้ปุ่มอยู่ด้านบนสุด */
}
.font-pet {
  margin: 20px;
  font-size: 20px;
  color: black;
  text-align: start;
}

.custom-button {
  cursor: pointer; /* ให้เป็นรูปแบบของปุ่ม */
}

.custom-button:hover {
  background-color: #a8dadc; /* เปลี่ยนสีพื้นหลังเมื่อเม้าส์ไปวาง */
}
</style>
