<script setup lang="ts">
import Menus from '@/components/menus/MainMenus.vue'
import router from './router'
import MessageBoxVue from './views/MessageBox.vue'
import MenusEmployee from '@/components/menus/MainMenusEmployee.vue'
</script>
<template>
  <v-layout>
    <v-main
      ><Menus
        v-if="!router.currentRoute.value.meta.login && !router.currentRoute.value.meta.employee"
      ></Menus>
      <MenusEmployee
        v-if="!router.currentRoute.value.meta.login && router.currentRoute.value.meta.employee"
      ></MenusEmployee>
      <RouterView></RouterView
    ></v-main>
  </v-layout>
  <MessageBoxVue></MessageBoxVue>
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
* {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
